<div class="alert alert-info">
  <p><%= f.object.class.description.html_safe %></p>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :title do %>
      Preferred name of new topic<abbr title="required">*</abbr>
    <% end %>
  </span>
  <span class="form-wrapper">
    <%= f.text_field :title, required: true, aria: { required: true }, class: "input-md-6 form-control" %>
  </span>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :url do %>
      URL(s) of page(s) you want to tag (provide as many as you can)<abbr title="required">*</abbr>
    <% end %>
  </span>
  <span class="form-wrapper">
    <%= f.text_area :url, required: true, placeholder: "https://www.gov.uk/government/...", aria: { required: true }, class: "input-md-6 form-control", rows: 6, cols: 50 %>
  </span>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :details do %>
      Why do you think this new topic is needed? Please provide any evidence you have<abbr title="required">*</abbr>
    <% end %>
  </span>
  <span class="form-wrapper">
    <%= f.text_area :details, required: true, aria: { required: true }, class: "input-md-6 form-control", rows: 6, cols: 50 %>
  </span>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :parent do %>
      Where should this topic fit in the taxonomy? For example, a sub-topic of Early years curriculum<abbr title="required">*</abbr>
    <% end %>
  </span>
  <span class="form-wrapper">
    <%= f.text_field :parent, required: true, aria: { required: true }, class: "input-md-6 form-control" %>
  </span>
</div>

<%= render partial: "support/collaborators", locals: { f: f } %>
