<div class="alert alert-info alert-block">
  <p>Only department/organisation Analytics Single Point of Contact (SPOC) can request access.</p>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :google_analytics_request_details, "Access to Google Analytics" %>
  </span>
  <span class="form-wrapper">
    <%= f.text_area :google_analytics_request_details, placeholder: "Detail full name, email address and areas of content.", class: "input-md-6 form-control", rows: 6, cols: 50 %>
  </span>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :single_point_of_contact_request_details, "Tell me who my Analytics Single Point of Contact (SPOC) is" %>
  </span>
  <span class="form-wrapper">
    <%= f.text_area :single_point_of_contact_request_details, placeholder: "Detail information on department/organisation/agency. If you have one include your parent or sponsoring department.", class: "input-md-6 form-control", rows: 6, cols: 50 %>
  </span>
</div>

<div class="alert alert-info alert-block">
  <p>GDS no longer provide basic analytic reports - you should contact your department/organisation Analytics Single Point of Contact (SPOC) for analytic reporting.</p>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :report_request_details, "Analytics Report Request" %>
  </span>
  <span class="form-wrapper">
    <%= f.text_area :report_request_details, placeholder: "Detail of report including date range.", class: "input-md-6 form-control", rows: 6, cols: 50 %>
  </span>
</div>

<div class="alert alert-info alert-block">
  <p>Before contacting the GDS performance analytics team please check the GOV.UK Performance Analytics Basecamp community for tips or post your query there for help.</p>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :help_request_details, "Analytics Help" %>
  </span>
  <span class="form-wrapper">
    <%= f.text_area :help_request_details, placeholder: "Detail what help you require and be specific in the examples you submit.", class: "input-md-6 form-control", rows: 6, cols: 50 %>
  </span>
</div>
