<%= render partial: "support/request_context", locals: { f: f } %>

<%= f.semantic_fields_for :needed_report do |r| %>
  <%= r.inputs name: "What reporting period are you interested in?" do %>
    <%= r.input :reporting_period_start, label: "From", required: true, input_html: {:class => "input-md-6", :"aria-required" => true} %>
    <%= r.input :reporting_period_end, label: "To", required: true, input_html: {:class => "input-md-6", :"aria-required" => true} %>
    <%= r.input :pages_or_sections, as: :text, label: "Which page(s) or section(s) on GOV.UK do you want data for? (Please provide URLs and, if possible or relevant, Need IDs)", required: true, input_html: {:class => "input-md-6", :rows => 6, :cols => 50, :"aria-required" => true } %>
  <% end %>

  <%= f.input :justification_for_needing_report, as: :text, label: "How will you use the report and what decisions will it help you make?", required: true, input_html: {:class => "input-md-6", :rows => 6, :cols => 50, :"aria-required" => true } %>

  <div class="alert alert-info">
    <p>The basic report includes the following metrics:</p>
    <ul>
      <li>total pageviews</li>
      <li>total unique pageviews</li>
      <li>total unique visitors</li>
    </ul>
  </div>

  <%= r.input :non_standard_requirements, as: :text, label: "Beyond the basic report, what other information are you interested in?", input_html: {:class => "input-md-6", :rows => 6, :cols => 50} %>

  <div id="frequency">
    <%= r.input :frequency, as: :radio, required: true, label: "How often do you need to receive these reports?", collection: r.object.frequency_options, input_html: { :"aria-required" => true } %>
  </div>

  <div id="format">
    <%= r.input :format, as: :radio, label: "Do you want a CSV file (so you can manipulate data) or a PDF (which will be more visual)?", collection: r.object.format_options %>
  </div>

  <div class="alert alert-info">
    <p>For recurring reports, you will need to renew your request every 6 months.</p>
  </div>
<% end %>
