<section id="content">
  <header class="section-header">Content Details</header>
  <label for="target_url">URL on </label><label class="url">http://gov.uk/</label>
  <input id="target_url" name="url" type="text" required <%= erb :assignvalue, :locals => {:param => @formdata[:url]} %>>

  <label for="feedback">Add your content</label>
  <textarea id="feedback" name="add_content" rows="6" cols="50" required <%= erb :assignvalue, :locals => {:param => @formdata[:add_content]} %> ></textarea>

  <%= erb :date, :locals => {:title => "When should this content be added?", :label => 'need_by'}%>

  <%= erb :date, :locals => {:title => "Not to be added before (if required)", :label => 'not_before'}%>

  <label for="comments">Additional Comments</label>
  <textarea id="comments" rows="10" cols="50" name="additional" <%= erb :assignvalue, :locals => {:param => @formdata[:additional]} %>></textarea>
</section>
