<section id="content">
  <header class="section-header">Content details</header>

  <fieldset>
    <legend class="top-legend">URL(s) of content to be changed</legend>

    <label for="target_url1" style="background-color: #F2F2F2;">gov.uk</label>
    <input id="target_url1" name="url1" type="text" <%= erb :assignvalue, :locals => {:param => @formdata[:url1]} %> >
    <label for="target_url2" style="background-color: #F2F2F2;">gov.uk</label>
    <input id="target_url2" name="url2" type="text" <%= erb :assignvalue, :locals => {:param => @formdata[:url2]} %> >
    <label for="target_url3" style="background-color: #F2F2F2;">gov.uk</label>
    <input id="target_url3" name="url3" type="text" <%= erb :assignvalue, :locals => {:param => @formdata[:url3]} %> >

    <label class="long info">Include additional URLs in the "Additional comments" section below.</label>

    <label class="long" for="add_content">Detail of what should be added, amended, or removed:</label>
    <textarea id="add_content" name="add_content" rows="6" cols="50"><%= @formdata[:add_content] %></textarea>

  </fieldset>

  <div style="clear:both;"></div>

  <fieldset>
    <div class="upload">
      <label for="file-added">Supporting documentation (optional)</label>
      <br/>
      <input id="file-added" name="uploaded_data" type="file" accept="text/plain, application/pdf, .xls, .xlsx"/>
      <%= erb :errors, :locals => {"key" => "uploaded_data"} %>
    </div>
  </fieldset>

  <%= erb :date, :locals => {:title => "When should this change be made?", :label => 'need_by', :day => @formdata[:need_by_day], :month => @formdata[:need_by_month], :year => @formdata[:need_by_year]} %>
  <%= erb :errors, :locals => {"key" => "Need by"} %>

  <%= erb :date, :locals => {:title => "Not to be amended before (optional)", :label => 'not_before', :day => @formdata[:not_before_day], :month => @formdata[:not_before_month], :year => @formdata[:not_before_year]} %>
  <%= erb :errors, :locals => {"key" => "Not before"} %>

  <fieldset>
    <div class="comments">
      <label for="comments">Additional comments</label>
      <textarea id="comments" rows="10" cols="50" name="additional"><%= @formdata[:additional] %></textarea>
    </div>
  </fieldset>


</section>
