<section id="content">
  <header class="section-header">Content details</header>

  <fieldset>
    <legend class="top-legend amend">Add new content</legend>

    <%= erb :upload, :locals =>{"id" => "file-added", "name" => "uploaded_data"}%>

    <fieldset>
      <legend class="top-legend">Where should the content be added?</legend>

      <label for="target_url_add1">URL on </label><label class="url">http://gov.uk/</label>
      <input id="target_url_add1" name="url_add1" type="text" <%= erb :assignvalue, :locals => {:param => @formdata[:url_add1]} %> >

      <label class="long info">Include additional URLs in the "Additional comments" section below.</label>

      <label class="long" for="add_content">Please paste or attach content to be added below:</label>
      <textarea id="add_content" name="add_content" rows="6" cols="50" ><%= @formdata[:add_content] %></textarea>

    </fieldset>

  </fieldset>

  <fieldset>
    <legend class="top-legend amend">Change content</legend>

    <%= erb :upload, :locals =>{"id" => "file-input", "name" => "upload_amend"} %>

    <fieldset>
      <legend class="top-legend">Where is the OLD content?</legend>

      <label for="target_url_old1">URL on </label><label class="url">http://gov.uk/</label>
      <input id="target_url_old1" name="url_old1" type="text" <%= erb :assignvalue, :locals => {:param => @formdata[:url_old1]} %>>

      <label class="long info">Include additional URLs in the "Additional comments" section below.</label>

      <label class="long" for="old_content">To change content, please paste the OLD content below:</label>
      <textarea id="old_content" rows="6" cols="50" name="old_content" ><%= @formdata[:old_content] %></textarea>

      <label class="long" for="new_content">To change content, please paste the NEW content below:</label>
      <textarea id="new_content" rows="6" cols="50" name="new_content" ><%= @formdata[:new_content] %></textarea>

    </fieldset>

  </fieldset>

  <fieldset>
    <legend class="top-legend amend">Remove content</legend>

    <fieldset>
      <legend class="top-legend">Where is the content to be removed?</legend>

      <label for="remove_location1">URL on </label><label class="url">http://gov.uk/</label>
      <input id="remove_location1" type="text" name="place_to_remove1" <%= erb :assignvalue, :locals => {:param => @formdata[:place_to_remove1]} %>>

      <label class="long info">Include additional URLs in the "Additional comments" section below.</label>

      <label class="long" for="remove_content">To remove content, please paste the content below:</label>
      <textarea id="remove_content" rows="6" cols="50" name="remove_content" ><%= @formdata[:new_content] %></textarea>

    </fieldset>

  </fieldset>

  <div style="clear:both;"></div>

  <%= erb :date, :locals => {:title => "When should this change be made?", :label => 'need_by', :day => @formdata[:need_by_day], :month => @formdata[:need_by_month], :year => @formdata[:need_by_year]} %>

  <%= erb :date, :locals => {:title => "Not to be amended before (optional)", :label => 'not_before', :day => @formdata[:not_before_day], :month => @formdata[:not_before_month], :year => @formdata[:not_before_year]} %>

  <fieldset>
    <div class="comments">
      <label for="comments">Additional comments</label>
      <textarea id="comments" rows="10" cols="50" name="additional"><%= @formdata[:additional] %></textarea>
    </div>
  </fieldset>


</section>
