<!DOCTYPE html>
<html>
<head>
  <%= erb :header %>
</head>
<body>
<header role="banner" class="group" id="global-header">
  <div class="header-global group">
    <h1><a href="http://gov.uk" title="Go to the gov.uk homepage">GOV.UK</a></h1>
  </div>
</header>

<div id="wrapper">
  <section id="framework">

    <div class="inner">

      <header class="page-header group">
        <hgroup><h1><%= @header %></h1></hgroup>
      </header>

      <%= erb :campaignsmenu %>

      <div id="form">
      <%= erb @header_message %>
        <form name="input" method="post">

          <%= erb :author %>

          <%= yield %>

          <input id="submit" type="submit" value="Submit">

        </form>
      </div>
      <div class="toclear"></div>
    </div>
  </section>
</div>

<%= erb :footer %>

</body>


</html>