<!DOCTYPE html>
<html>
<head>
  <%= erb :header %>
</head>

<body>
<div id="wrapper">
  <section id="framework">

    <div class="inner">

      <header class="content-header">
        <hgroup><h1><%= @header %></h1></hgroup>
      </header>

      <div role="complementary">
        <%= erb :menu %>
      </div>

      <div id="form" role="main">
        <%= erb @header_message %>
        <%= erb :errors %>
        <form name="input" method="post">

          <%= erb :author %>

          <%= yield %>

          <input id="submit" type="submit" value="Submit">

        </form>
      </div>
      <div class="toclear"></div>
    </div>
  </section>
</div>

</body>


</html>