<nav class="menu" role="navigation">
  <h2>Content request</h2>
  <ul>
    <li><a href="/amend-content"><%= erb :highlight, :locals => {:name => "Content change"} %></a></li>
  </ul>

  <h2>User Access</h2>
  <ul>
    <li><a href="/create-user"><%= erb :highlight, :locals => {:name => "Create new user"} %></a></li>
    <li><a href="/remove-user"><%= erb :highlight, :locals => {:name => "Remove user"} %></a></li>
    <li><a href="/reset-password"><%= erb :highlight, :locals => {:name => "Reset password"} %></a></li>
  </ul>

  <h2>Campaigns</h2>
  <ul>
    <li><a href="/campaign"><%= erb :highlight, :locals => {:name => "Campaign"} %></a></li>
  </ul>

  <h2>Technical Issues</h2>
  <ul>
    <li><a href="/broken-link"><%= erb :highlight, :locals => {:name => "Broken link"} %></a></li>
    <li><a href="/publish-tool"><%= erb :highlight, :locals => {:name => "Publishing tool"} %></a></li>
  </ul>
</nav>