<div id="menu" class="menu">
  <ul>
    <li class="top">
      <p>Content request</p>
      <ul id="content_list">
        <li><a href="/new"><%= erb :highlight, :locals => {:name => "New Content"}%></a></li>
        <li><a href="/amend"><%= erb :highlight, :locals => {:name => "Amend Content"}%></a></li>
        <li><a href="/delete"><%= erb :highlight, :locals => {:name => "Delete Content"}%></a></li>
      </ul>
    </li>
  </ul>

  <ul>
    <li class="top">
      <p>User access</p>
      <ul id="access_list">
        <li><a href="/create-user"><%= erb :highlight, :locals => {:name => "Create New User"}%></a></li>
        <li><a href="/delete-user"><%= erb :highlight, :locals => {:name => "Delete User"}%></a></li>
        <li><a href="/reset-password"><%= erb :highlight, :locals => {:name => "Reset Password"}%></a></li>
      </ul>
    </li>
  </ul>

</div>


