<p class="govuk-body"><%= f.object.class.description %></p>

<%= render "govuk_publishing_components/components/input", {
  label: { text: "User's name (required)" },
  name: name_for(f, %w[name]),
  width: 20,
  error_items: errors_for(@request.errors, :name)
} %>

<%= render "govuk_publishing_components/components/input", {
  label: { text: "User's email (required)" },
  hint: "The user will be copied into this request.",
  name: name_for(f, %w[email]),
  width: 20,
  error_items: errors_for(@request.errors, :email)
} %>

<%= render "govuk_publishing_components/components/select", {
  label: "User's organisation",
  id: name_for(f, %w[organisation]),
  options: organisation_options.unshift("").map do |value|
    {
      text: value,
      value: value,
      selected: f.object.organisation == value
    }
  end,
  error_items: errors_for(@request.errors, :organisation)
} %>

<%= render "govuk_publishing_components/components/radio", {
  heading: "Are they a new or existing user? (required)",
  heading_level: 0,
  name: name_for(f, %w[new_or_existing_user]),
  items: f.object.new_or_existing_user_options.map do |value, text|
    {
      value: value,
      text: text
    }
  end,
  error_items: errors_for(@request.errors, :new_or_existing_user)
} %>

<h2 class="govuk-heading-l">Training and access to Whitehall Publisher</h2>

<p class="govuk-body">
  All new publishers using Whitehall Publisher must complete training.
  New publishers can complete either:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Writing and Publishing on GOV.UK for press officers - if they only need to publish news stories and press releases</li>
  <li>Writing and Publishing on GOV.UK - for all other publishers</li>
</ul>

<p class="govuk-body">Existing publishers can request refresher training.</p>

<%= render "govuk_publishing_components/components/radio", {
  heading: "Does the user require any training? (required)",
  heading_level: 0,
  name: name_for(f, %w[whitehall_training]),
  items: f.object.whitehall_training_options.map do |value, text|
    {
      value: value,
      text: text
    }
  end.insert(-2, :or),
  error_items: errors_for(@request.errors, :whitehall_training)
} %>

<h2 class="govuk-heading-l">Training and access to other publishing applications</h2>

<%= render "govuk_publishing_components/components/radio", {
  heading: "Does this user need access to any other publishing applications? (required)",
  heading_level: 0,
  name: name_for(f, %w[access_to_other_publishing_apps]),
  items: f.object.access_to_other_publishing_apps_options.map do |value, text|
    {
      value: value,
      text: text
    }
  end,
  error_items: errors_for(@request.errors, :access_to_other_publishing_apps)
} %>

<%= render "govuk_publishing_components/components/textarea", {
  label: {
    text: "List any other publishing applications and permissions the user needs. If you’re not sure what these are, explain what tasks they need to be able to do."
  },
  name: name_for(f, %w[additional_comments]),
  hint: "All users have basic access to Content Data, Feedback Explorer, GovSearch and Support forms.",
  error_items: errors_for(@request.errors, :additional_comments)
} %>

<%= render "govuk_publishing_components/components/radio", {
  heading: "Does the user require Writing for GOV.UK training?",
  heading_level: 0,
  name: name_for(f, %w[writing_for_govuk_training]),
  hint: "New publishers who only have access to Manuals Publisher, Specialist Publisher or Travel Advice Publisher can request Writing for GOV.UK training.",
  items: f.object.writing_for_govuk_training_options.map do |value, text|
    {
      value: value,
      text: text
    }
  end,
  error_items: errors_for(@request.errors, :writing_for_govuk_training)
} %>

<h2 class="govuk-heading-l">Copy of the request</h2>

<%= render partial: "support/collaborators", locals: { f: f } %>
