<p class="alert alert-info">
  We'll review your request within 2 working days.
</p>

<p>
  Content tagged to the <a href="https://www.gov.uk/find-eu-exit-guidance-business">Brexit business
  finder</a> must:
</p>
<ul>
  <li>give businesses and organisations actionable steps to prepare for Brexit</li>
  <li>be in a guidance format, for example detailed guide, publication or step by step</li>
</ul>
<p>
  Do not add news stories, policy papers, press releases or correspondence.
</p>


<%= f.input(
  :type,
  as: :radio,
  label: "What are you requesting?",
  collection: Support::Requests::EuExitBusinessReadinessRequest::TYPE_OPTIONS,
  required: true,
) %>

<%= f.input(
  :url,
  required: true,
  label: "Which page is this about? Add the full URL",
  input_html: { :"aria-required" => true }
) %>

<%= f.input(
  :explanation,
  as: :text,
  label: "Why does this content need adding, updating or removing?",
  required: true,
  hint: "You can also add other information or questions here.",
  input_html: { class: "input-md-6", rows: 6, cols: 50, :"aria-required" => true }
) %>

<p class="alert alert-info">
  Be as specific as you can, especially when choosing sectors.
</p>

<h2>Sector tagging</h2>

<%= f.input(
  :sector,
  as: :check_boxes,
  label: "What sector(s) is the content for?",
  collection: @eu_exit_business_readiness_request.sector_options,
  required: false,
) %>

<h2>Organisation activity tagging</h2>

<%= f.input(
  :organisation_activity,
  as: :check_boxes,
  label: "Does the content relate to any of these activities?",
  collection: @eu_exit_business_readiness_request.organisation_activity_options,
  required: false,
) %>

<h2>Additional tagging</h2>

<%= f.input(
  :employing_eu_citizens,
  as: :radio,
  label: "Is the content about employing people?",
  collection: Support::Requests::EuExitBusinessReadinessRequest::EMPLOYING_EU_CITIZENS_OPTIONS,
  required: false,
) %>

<%= f.input(
  :personal_data,
  as: :check_boxes,
  label: "Is the content about exchanging personal data with organisations in Europe?",
  collection: @eu_exit_business_readiness_request.personal_data_options,
  required: false,
) %>

<%= f.input(
  :intellectual_property,
  as: :check_boxes,
  label: "Is the content about intellectual property?",
  collection: @eu_exit_business_readiness_request.intellectual_property_options,
  required: false,
) %>

<%= f.input(
  :funding_schemes,
  as: :check_boxes,
  label: "Is the content about EU or UK government funding schemes?",
  collection: @eu_exit_business_readiness_request.founding_schemes_options,
  required: false,
) %>

<%= f.input(
  :public_sector_procurement,
  as: :check_boxes,
  label: "Is the content about public sector procurement?",
  collection: @eu_exit_business_readiness_request.public_sector_procurement_options,
  required: false,
) %>

<%= render partial: "support/collaborators", locals: { f: f } %>
