<div class="alert alert-info">
  <p>Only use this form to report problems with specific GOV.UK site search results. Do not use this form for general feedback on the new GOV.UK search engine.</p>
  <p>
    Use <%= link_to "this tool to give general feedback on search results", "https://try-new-search-engine.publishing.service.gov.uk" %>.
    This uses the standard login details for GOV.UK product testing or contact <%= mail_to "try-new-search-engine@digital.cabinet-office.gov.uk" %> for a login.
  </p>
</div>

<p>GOV.UK is introducing a new search engine to power <%= link_to "GOV.UK site search", "https://www.gov.uk/search/all" %>. The search engine will continue to learn and improve over time, making search results more relevant.</p>

<div id="feedback-type">
  <div class="form-group">
    <span class="form-label">
      <%= f.label :search_query do %>
        What search query did you use, for example “Universal Credit”?
      <% end %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :search_query, required: true, aria: { required: true }, class: "input-md-6 form-control", rows: 6, cols: 50 %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :results_problem do %>
        What is the problem with the search results?
      <% end %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :results_problem, required: true, aria: { required: true }, class: "input-md-6 form-control", rows: 6, cols: 50 %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :change_requested do %>
        What change do you want to make to the search results? Include URLs for any pages you want the search to show.
      <% end %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :change_requested, required: true, aria: { required: true }, class: "input-md-6 form-control", rows: 6, cols: 50 %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :change_justification do %>
        Explain why this change is necessary, including the impact on users and the number of users affected.
      <% end %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :change_justification, required: true, aria: { required: true }, class: "input-md-6 form-control", rows: 6, cols: 50 %>
    </span>
  </div>
</div>
