<p>GOV.UK site search learns from how people use it, so search results change and improve over time. A page not appearing high in results today may appear higher in the future. </p>
<p>In most cases, the search engine will deliver highly relevant results without manual changes. However, there may be occasions where we need to step in to make sure certain pages appear higher or lower in results.</p>
<p>If you think this is needed, use this form to tell the GOV.UK search team about issues with search results that might stop users finding what they need. For example:</p>
<ul>
  <li>Important pages that should appear near the top of search results but are too low</li>
  <li>Pages not appearing in search results at all</li>
</ul>

<div id="feedback-type">
  <div class="form-group">
    <span class="form-label">
      <%= f.label :search_query do %>
        What search query did you use, for example “Universal Credit”?
      <% end %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :search_query, required: true, aria: { required: true }, class: "input-md-6 form-control", rows: 6, cols: 50 %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :results_problem do %>
        What is the problem with the search results?
      <% end %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :results_problem, required: true, aria: { required: true }, class: "input-md-6 form-control", rows: 6, cols: 50 %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :change_requested do %>
        What change do you want to make to the search results? Include URLs for any pages you want the search to show.
      <% end %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :change_requested, required: true, aria: { required: true }, class: "input-md-6 form-control", rows: 6, cols: 50 %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :change_justification do %>
        Explain why this change is necessary, including the impact on users and the number of users affected.
      <% end %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :change_justification, required: true, aria: { required: true }, class: "input-md-6 form-control", rows: 6, cols: 50 %>
    </span>
  </div>
</div>
