<%= content_for :page_title, "General" %>
<%= content_for :header, "Report a problem, request GDS support, or make a suggestion" %>

<div class="alert alert-info">
  <p>Please use this path to:</p>
  <ul>
    <li>report planned departmental changes that affect GOV.UK and its users</li>
    <li>report issues that don't fit into other categories</li>
  </ul>
</div>

<div class="well">
  <%= semantic_form_for @request, url: { action: "create" }, html: { novalidate: false } do |f| %>

    <%= render partial: "support/requester", locals: { f: f, show_collaborators: true } %>

    <%= render partial: "request_details", locals: { f: f } %>

    <%= f.action :submit, label: "Submit", button_html: { class: "btn btn-success" } %>
  <% end %>
</div>
