<div class="alert alert-info">
  <p>
    Use this form to request an update to the Brexit checker.
    https://www.gov.uk/get-ready-brexit-check
  </p>
  <p>
    The checker tells users actions they may need to take.
    You can request a change to an existing action or suggest where a new action is needed.
  </p>
  <p>
    Once a request is made GDS will agree any changes directly with the nominated policy expert and DExEU.
  </p>
</div>

<div id="change_action">
  <h2>Change an action</h2>
  <%= f.input(
    :action_to_change,
    label: "Action title",
    hint: "What content are you referring to? It helps to paste the action title from the checker and a link to the results where it appears.",
    input_html: { class: "input-md-6" },
  ) %>

  <%= f.input(
    :description_of_change,
    as: :text,
    label: "Describe the change",
    hint: "Explain the user need and who the users are, what the problem is for the user, and suggest how we could improve.",
    input_html: { class: "input-md-6", rows: 6, cols: 50 }
  ) %>
</div>

<div id="new_action_title">
  <h2>Add a new action</h2>
  <%= f.input(
    :new_action_users,
    label: "Who needs to know?",
    hint: "Specify who, where they are, and what they’re doing. For example, an Irish citizen who lives in the UK taking a pet to the EU.",
    input_html: { class: "input-md-6" },
  ) %>

  <%= f.input(
    :new_action_title,
    label: "What is the action?",
    hint: "What does the user need to do to prepare for no deal Brexit?",
    input_html: { class: "input-md-6" },
    ) %>

  <%= f.input(
    :new_action_consequence,
    label: "Consequence",
    hint: "What is the problem for the user if they don’t act?",
    input_html: { class: "input-md-6" },
    ) %>

  <%= f.input(
    :new_action_service_link,
    label: "Service link",
    hint: "Provide a link to any application process or service, if there is one.",
    input_html: { class: "input-md-6" },
    ) %>

  <%= f.input(
    :new_action_guidance_link,
    label: "Guidance link",
    hint: "Provide a link to the page that explains things in detail. It does not have to be on GOV.UK.",
    input_html: { class: "input-md-6" },
    ) %>

  <%= f.input(
    :new_action_lead_time,
    label: "Lead time",
    hint: "How long does the process take, if applicable?",
    input_html: { class: "input-md-6" },
    ) %>

  <%= f.input(
    :new_action_deadline,
    label: "Deadline",
    hint: "Does the user need to act before a certain date?",
    input_html: { class: "input-md-6" },
    ) %>

  <%= f.input(
    :new_action_comments,
    as: :text,
    label: "Other comments",
    hint: "Explain any concerns or complications.",
    input_html: { class: "input-md-6", rows: 6, cols: 50 }
  ) %>

  <%= f.input(
    :new_action_priority,
    as: :select,
    collection: %w(High Medium Low),
    label: "Priority",
    hint: "How high up the list of results this action should appear.",
    input_html: { class: "input-md-6" },
  ) %>
</div>

<%= render partial: "support/collaborators", locals: { f: f } %>
