<p class="govuk-body-l"><%= f.object.class.description %></p>

<%= f.govuk_text_field :name,
  label: { text: "User's name" },
  value: f.object.name
%>
<%= f.govuk_email_field :email,
  label: { text: "User's email" },
  value: f.object.email
%>
<%= f.govuk_collection_select :organisation, organisation_options, :to_s, :to_s,
  label: { text: "User's organisation" },
  value: f.object.organisation
%>

<% legend = -> do %>
  <legend class="govuk-fieldset__legend govuk-body">
    Does the user need access to additional publishing applications?
  </legend>
<% end %>

<%= f.govuk_radio_buttons_fieldset(:requires_additional_access, hint: { text: "All users have basic access to Content Data, Feedback Explorer, GovSearch and Support forms." }, legend:) do %>
  <%= f.govuk_radio_button :requires_additional_access, "yes", label: { text: "Yes" } do %>
    <%= f.govuk_text_area :additional_comments, label: { size: "s", text: "List the applications and permissions the user needs." } %>
  <% end %>
  <%= f.govuk_radio_button :requires_additional_access, "no", label: { text: "No, the user only needs access to the basic applications." }, link_errors: true %>
<% end %>

<%= render partial: "collaborators", locals: { f: f } %>
