<%= content_for :page_title, "Create new user" %>
<%= content_for :header, "Create a new user account" %>

<div class="well">
  <%= form_tag(create_new_user_request_url, :method => :post) do %>
    <%= render "support/author" %>

      <header class="section-header">User details</header>

      <label for="user_name">Name (required)</label>
      <input id="user_name" name="user_name" class="span6" type="text" required aria-required="true" <%= render "support/assignvalue", {:param => @formdata[:user_name]} %>>
      <%= render "support/errors", {errors: @errors, key: "User name"} %>

      <label for="email">Email (required)</label>
      <input id="email" name="user_email" class="span6" type="email" required aria-required="true" <%= render "support/assignvalue", {:param => @formdata[:user_email]} %>>
      <%= render "support/errors", {errors: @errors, key: "User email"} %>

      <fieldset>
        <div class="comments">
          <label for="comments">Additional comments</label>
          <textarea id="comments" rows="6" cols="50" class="span6" name="additional"><%= @formdata[:additional] %></textarea>
        </div>
      </fieldset>

    <input class="btn btn-success" name="commit" type="submit" value="Submit">
  <% end %>
</div>