<div class="alert alert-info alert-block">
  <p>You'll get an automated response to confirm we've received your request. We'll then review your request within 2 working days.</p>

<p><a href="https://www.gov.uk/guidance/contact-the-government-digital-service/request-a-thing#change-govuk-content">How to write a request that will get resolved quickly</a>.</p>
</div>


<%= f.input :title, label: "Title of request", input_html: { class: "input-md-6", placeholder: "Content change request" } %>

<%= f.inputs name: "URL affected" do %>
  <%= f.input :url, label: "URL", input_html: { class: "input-md-6", placeholder: "https://www.gov.uk/" } %>

  <%= f.input :details_of_change, as: :text, label: "Details of the requested change", required: true, input_html: { :class => "input-md-6", :rows => 16, :cols => 50, :"aria-required" => true } %>

  <%= f.input :related_urls, as: :text, label: "Does this affect any other URLs (including any existing Welsh translations that need to be updated)? Put each new URL on a new line.", input_html: { class: "input-md-6", rows: 4, cols: 50 } %>

<% end %>

<%= render partial: "support/attachment_instructions" %>

<%= render partial: "support/time_constraint", locals: { f: f } %>

<div class="alert alert-info alert-block">
  <p>If your request is urgent, please fill in this form and call 07810 750 834 during office hours, or 07827 992603 out of hours. (It's ONLY urgent when the public or the government is facing immediate and significant financial, legal or physical risk.)</p>
</div>

<%= render partial: "support/collaborators", locals: { f: f } %>
