<div class="alert alert-info alert-block">
  <p>You'll get an automated response to confirm we've received your request. We'll then review your request within 2 working days.</p>

<p><a href="https://www.gov.uk/guidance/contact-the-government-digital-service/request-a-thing#change-govuk-content">How to write a request that will get resolved quickly</a>.</p>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :title do %>
      Title of request <abbr title="required">*</abbr>
    <% end %>
  </span>
  <p class="help-block hint-block--md-6" id="title-hint">
    Clearly summarise what needs to change - for example, ‘Update phone numbers in Universal Credit guide’ or ‘Create a start page for clean air zones‘.
  </p>
  <span class="form-wrapper">
    <%= f.text_field :title, required: true, placeholder: "Content change request", class: "input-md-6 form-control",
      aria: {
        describedby: "title-hint"
      }
    %>
  </span>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :reason_for_change do %>
      What’s the reason for the request? <abbr title="required">*</abbr>
    <% end %>
  </span>
  <p class="help-block hint-block--md-6" id="reason-hint">
    If none of the options below are appropriate, please select other.
  </p>
  <span class="form-wrapper">
    <%= f.select :reason_for_change,
      options_for_select(f.object.reason_for_change_options, f.object.reason_for_change),
      { include_blank: true },
      class: "input-md-6 form-control",
      aria: {
        describedby: "reason-hint"
      },
      required: true
    %>
  </span>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :subject_area do %>
    What’s the subject area? <abbr title="required">*</abbr>
    <% end%>
  </span>
  <p class="help-block hint-block--md-6" id="subject-area-hint">
    If your request covers multiple subject areas, choose the one you think most relevant.
  </p>
  <span class="form-wrapper">
    <%= f.select :subject_area,
      options_for_select(f.object.subject_area_options, f.object.subject_area),
      { include_blank: true },
      class: "input-md-6 form-control",
      aria: {
        describedby: "subject-area-hint"
      },
      required: true
    %>
  </span>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :url do %>
      Which URLs are affected? <abbr title="required">*</abbr>
    <% end %>
  </span>
  <p class="help-block hint-block--md-6" id="url-hint">
    List URLs, one per line. Include any Welsh URLs where translations are needed.
  </p>
  <span class="form-wrapper">
    <%= f.text_area :url, placeholder: "https://www.gov.uk/", required: true, class: "input-md-6 form-control", rows: 4, cols: 50, aria: {
      describedby: "url-hint"
    } %>
  </span>
</div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :details_of_change do %>
        Tell us about the content that needs to be created, updated or is causing a problem for users? <abbr title="required">*</abbr>
      <% end %>
    </span>
    <div class="help-block hint-block--md-6" id="details-of-change-hint">
      <p>Make sure you:</p>
      <ul>
        <li>include evidence of why this is a problem, for example, user feedback or call centre data</li>
        <li>give sufficient detail</li>
        <li>use plain English</li>
        <li>explain any acronyms, jargon or legal language</li>
        <li>say which parts of the content are affected - for example, ‘first paragraph of overview’</li>
        <li>separate different points - for example, by numbering them</li>
      </ul>

    <p>If you send us wording, we might not use it. If we do, we’ll need to put it in GOV.UK style.</p>
  </div>
  <span class="form-wrapper">
    <%= f.text_area :details_of_change, required: true, aria: { required: true }, class: "input-md-6 form-control", rows: 16, cols: 50, aria: {
      describedby: "details-of-change-hint"
    } %>
  </span>
</div>

  </div>

<%= render partial: "support/attachment_instructions" %>

<%= render partial: "support/time_constraint", locals: { f: f } %>

<div class="alert alert-info alert-block">
  <p><strong>If your request is urgent</strong></p>
  <p>Submit this form and <a target="_blank" rel="noreferrer noopener" href="https://support.publishing.service.gov.uk/emergency-contact-details">use one of our emergency contact methods (opens in new tab)</a>.</p>

  <p>It's urgent only if the public or the government faces immediate and significant financial, legal or physical risk.</p>
</div>

<%= render partial: "support/collaborators", locals: { f: f } %>
