<div class="alert alert-info alert-block">
  <p>You'll get an automated response to confirm we've received your request. We'll then review your request within 2 working days.</p>

<p><a href="https://www.gov.uk/guidance/contact-the-government-digital-service/request-a-thing#change-govuk-content">How to write a request that will get resolved quickly</a>.</p>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :title, "Title of request" %>
  </span>
  <p class="help-block hint-block--md-6" id="title-hint">
    Clearly summarise what needs to change - for example, ‘Update phone numbers in Universal Credit guide’ or ‘Create a start page for clean air zones‘.
  </p>
  <span class="form-wrapper">
    <%= f.text_field :title, placeholder: "Content change request", class: "input-md-6 form-control",
      aria: {
        describedby: "title-hint"
      }
    %>
  </span>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :reason_for_change, "What’s the reason for the request?" %>
  </span>
  <p class="help-block hint-block--md-6" id="reason-hint">
    If none of the options below are appropriate, please select other.
  </p>
  <span class="form-wrapper">
    <%= f.select :reason_for_change,
      options_for_select([
        "Factual inaccuracy",
        "Content is causing problems for users",
        "New information (policy, campaign, service) - for example, service start page needed",
        "Missing information",
        "Update - policy or process change",
        "Uprating - policy or money changes at the new tax year (6 April)",
        "Service Review",
        "Other"
      ]),
      { include_blank: true },
      class: "input-md-6 form-control",
      aria: {
        describedby: "reason-hint"
      }
    %>
  </span>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :subject_area, "What’s the subject area?" %>
  </span>
  <p class="help-block hint-block--md-6" id="subject-area-hint">
    If none of the options below are appropriate, please select other.
  </p>
  <span class="form-wrapper">
    <%= f.select :subject_area,
      options_for_select([
        "Benefits",
        "Births, death, marriages and care",
        "Business and self-employed",
        "Childcare and parenting",
        "Citizenship and living in the UK",
        "Crime, justice and the law",
        "Disabled people",
        "Driving and transport",
        "Education and learning",
        "Employing people",
        "Environment and countryside",
        "Health",
        "Housing and local services",
        "Money and tax",
        "Passports, travel and living abroad",
        "Visas and immigration",
        "Working, jobs and pensions",
        "Other"
      ]),
      { include_blank: true },
      class: "input-md-6 form-control",
      aria: {
        describedby: "subject-area-hint"
      }
    %>
  </span>
</div>

<fieldset>
  <legend>
    <span>Which URLs are affected?</span>
  </legend>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :details_of_change do %>
        What’s the new or different information? <abbr title="required">*</abbr>
      <% end %>
    </span>
    <div class="help-block hint-block--md-6" id="details-of-change-hint">
      <p>Make sure you:</p>
      <ul>
        <li>give sufficient detail</li>
        <li>use plain English</li>
        <li>explain any acronyms, jargon or legal language</li>
        <li>say which parts of the content are affected - for example, ‘first paragraph of overview’</li>
        <li>separate different points - for example, by numbering them</li>
      </ul>

      <p>If you send us wording, we might not use it. If we do, we’ll need to put it in GOV.UK style.</p>

      <p>To ensure your changes are as easy as possible for Content Designers to understand, please following the following format:</p>

      <pre class="well">
Ch. CHAPTER NAME

[1]

Under #Entry Requirements

[CHANGE]

This is some content that needs to change.

[TO]

This is some content that has changed.
      </pre>
    </div>
    <span class="form-wrapper">
      <%= f.text_area :details_of_change, required: true, aria: { required: true }, class: "input-md-6 form-control", rows: 16, cols: 50, aria: {
        describedby: "details-of-change-hint"
      } %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :why_is_change_needed do %>
        Why is this change needed?
      <% end %>
    </span>
    <div class="help-block hint-block--md-6" id="why-is-change-needed-hint">
      <p>Explain why users need new or different information, including any problems with existing content.</p>

      <p>Provide evidence to support the changes, such as user feedback, user research, analytics, call centre feedback or policy change.</p>
    </div>
    <span class="form-wrapper">
      <%= f.text_area :why_is_change_needed, class: "input-md-6 form-control", rows: 16, cols: 50, aria: {
        describedby: "why-is-change-needed-hint"
      } %>
    </span>
  </div>
</fieldset>

<%= render partial: "support/attachment_instructions" %>

<%= render partial: "support/time_constraint", locals: { f: f } %>

<div class="alert alert-info alert-block">
  <p><strong>If your request is urgent</strong></p>
  <p>Submit this form and call:</p>
  <ul>
    <li><%= @primary_contact_details[:urgent_department_content_change][:phone] %> between 9am and 6pm</li>
    <li><%= @primary_contact_details[:urgent_mainstream_content_change][:phone] %> at other times</li>
  </ul>
  <p>It's urgent only if the public or the government faces immediate and significant financial, legal or physical risk.</p>
</div>

<%= render partial: "support/collaborators", locals: { f: f } %>
