<%= content_for :page_title, "Content change" %>
<%= content_for :header, "Request a change to existing GOV.UK content" %>

<div class="alert alert-info alert-block">
  <p>You'll get an automated response to confirm we've received your request. We'll then review your request within 2 working days.</p>
  <p>When filling out this form...</p>
  <p>Please do:</p>
  <ul>
    <li>explain the problem – what speciﬁcally needs to be addressed and why?</li>
    <li>focus on the facts not the presentation</li>
    <li>focus on what the user needs to know to complete a specific task, rather than the policy background</li>
    <li>combine changes to one item into one ticket where possible</li>
  </ul>
  <p>Please don't:</p>
  <ul>
    <li>cut-and-paste long email chains</li>
    <li>re-write the content</li>
  </ul>
</div>

<div class="well">
  <%= semantic_form_for @request, url: { action: "create" }, html: { novalidate: false } do |f| %>

    <%= render partial: "support/requester", locals: { f: f, show_collaborators: true } %>

    <%= render partial: "request_details", locals: { f: f} %>

    <%= render partial: "support/attachment_instructions" %>

    <%= render partial: "support/time_constraint", locals: { f: f } %>

    <div class="alert alert-info alert-block">
      <p>If your request is urgent, please fill in this form then call 07827 992603 to let us know. (It's ONLY urgent when the public or the government is facing immediate and significant financial, legal or physical risk.)</p>
    </div>

    <%= f.action :submit, label: "Submit", button_html: { class: "btn btn-success" } %>
  <% end %>
</div>

