<%= content_for :page_title, "Content change" %>
<%= content_for :header, "Request a change to existing GOV.UK content" %>

<div class="alert alert-info alert-block">
  <p>You'll get an automated response to confirm we've received your request. We'll then review your request within 2 working days.</p>
  <p>When filling out this form...</p>
  <p>Please do:</p>
  <ul>
    <li>explain the problem – what speciﬁcally needs to be addressed and why?</li>
    <li>focus on the facts not the presentation</li>
    <li>focus on what the user needs to know to complete a specific task, rather than the policy background</li>
    <li>combine changes to one item into one ticket where possible</li>
  </ul>
  <p>Please don't:</p>
  <ul>
    <li>cut-and-paste long email chains</li>
    <li>re-write the content</li>
  </ul>
</div>

<div class="well">
  <%= form_tag(content_change_request_url, :method => :post) do %>
    <%= render "support/author" %>

    <fieldset>
      <label for="inside_government">Does this affect Inside Government?</label>
      <select id="inside_government" name="inside_government">
        <option selected="selected" value="no">No</option>
        <option value="yes">Yes</option>
      </select>
    </fieldset>

    <fieldset>
      <legend>URL(s) affected</legend>

      <label class="visuallyhidden" for="target_url1">URL 1</label>
      <input class="span6 input-block-level" id="target_url1" name="url1" type="text" placeholder="http://www.gov.uk/" <%= render "support/assignvalue", {:param => @formdata[:url1]} %> >

      <label class="visuallyhidden" for="target_url2">URL 2</label>
      <input class="span6 input-block-level" id="target_url2" name="url2" type="text" placeholder="http://www.gov.uk/" <%= render "support/assignvalue", {:param => @formdata[:url2]} %> >

      <label class="visuallyhidden" for="target_url3">URL 3</label>
      <input class="span6 input-block-level" id="target_url3" name="url3" type="text" placeholder="http://www.gov.uk/" <%= render "support/assignvalue", {:param => @formdata[:url3]} %> >

      <div class="comments">
        <label for="add_content">Details of the requested change:</label>
        <textarea class="span6" id="add_content" name="add_content" rows="6" cols="70"><%= @formdata[:add_content] %></textarea>
      </div>

    </fieldset>

    <%= render "support/date", {:title => "MUST be published by (optional)", :label => 'need_by', :day => @formdata[:need_by_day], :month => @formdata[:need_by_month], :year => @formdata[:need_by_year]} %>
    <%= render "support/errors", {errors: @errors, key: "Need by"} %>

    <%= render "support/date", {:title => "MUST NOT be published BEFORE (optional)", :label => 'not_before', :day => @formdata[:not_before_day], :month => @formdata[:not_before_month], :year => @formdata[:not_before_year]} %>
    <%= render "support/errors", {errors: @errors, key: "Not before"} %>

    <fieldset>
      <div class="comments">
        <label for="comments">Reason for the above dates (optional):</label>
        <textarea class="span6" id="comments" rows="3" cols="70" name="additional"><%= @formdata[:additional] %></textarea>
      </div>
    </fieldset>

    <div class="alert alert-info alert-block">
      <p>If your request is urgent, please fill in this form then call 07827 992603 to let us know. (It's ONLY urgent when the public or the government is facing immediate and significant financial, legal or physical risk.)</p>
    </div>

    <input class="btn btn-success" name="commit" type="submit" value="Submit">
  <% end %>
</div>
