<%= content_for :page_title, "Publishing tool" %>
<%= content_for :header, "Request GDS support for the publishing tool" %>

<div class="well">
  <%= form_tag('/publish-tool', :method => :post) do %>

    <%= render "author" %>
      <fieldset>
      <legend>Publishing Tool</legend>
      <label for="target_url">URL on <span style="background-color: #F2F2F2;">gov.uk</span> (required)</label>
      <input id="target_url" name="url" type="text" class="span6" required aria-required="true" <%= render "assignvalue", {:param => @formdata[:url]} %> >
      <%= render "errors", {errors: @errors, key: "Url"} %>

      <label for="username">Username (required)</label>
      <input id="username" name="username" type="text" class="span6" required aria-required="true" <%= render "assignvalue", {:param => @formdata[:username]} %> >
      <%= render "errors", {errors: @errors, key: "Username"} %>

        <div class="comments">
          <label for="comments">Please describe briefly the problem which was encountered</label>
          <textarea id="comments" rows="6" cols="70" class="span6" name="additional"><%= @formdata[:additional] %></textarea>
        </div>
      </fieldset>
    <input class="btn btn-success" name="commit" type="submit" value="Submit">
  <% end %>
</div>
