<div class="alert alert-info">
  <p><%= f.object.class.description.html_safe %></p>
</div>

<%= f.input :title, required: true,
            label: "Name of topic you'd like changed",
            input_html: { class: "input-md-6", :"aria-required" => true } %>

<%= f.input :type_of_change, as: :radio, required: true,
            label: "What would you like to change?",
            collection: f.object.type_of_change_options,
            input_html: { :"aria-required" => true } %>

<%= f.input :details, as: :text, required: true,
            label: "Please give details of how you'd like the topic changed",
            input_html: { class: "input-md-6", rows: 6, cols: 50, :"aria-required" => true } %>

<%= f.input :reasons, as: :text, required: true,
            label: "Why do you think this change is needed? Please provide any evidence you have",
            input_html: { class: "input-md-6", rows: 6, cols: 50, :"aria-required" => true } %>

<%= render partial: "support/collaborators", locals: { f: f } %>
