<section id="content">
  <header class="section-header">Campaign</header>
  <label for="name">Campaign title</label>
  <input id="name" name="campaign_name" type="text" required value=<%= erb :assignvalue, :locals => {:param => @formdata[:name]} %>>

  <label for="erg_number">ERG reference number</label>
  <input id="erg_number" name="erg_number" type="text" required value=<%= erb :assignvalue, :locals => {:param => @formdata[:erg_number]} %>>

  <%= erb :date, :locals => {:title => "Start Date", :label => 'need_by'}%>
  <br/>

  <label for="description">Campaign description</label>
  <textarea id="description" rows="6" cols="50" name="description" type="text" required value=<%= erb :assignvalue, :locals => {:param => @formdata[:description]} %>></textarea>

  <label for="company">Group or company affiliated with this campaign</label>
  <input id="company" name="company" type="text" value=<%= erb :assignvalue, :locals => {:param => @formdata[:company]} %>>

  <label for="url_label">URL with more information</label>
  <input id="target_url" name="target_url" type="text" value=<%= erb :assignvalue, :locals => {:param => @formdata[:target_url]} %>>

  <label for="comments">Additional comments</label>
  <textarea id="comments" rows="10" cols="50" name="additional" value=<%= erb :assignvalue, :locals => {:param => @formdata[:additional]} %>></textarea>

</section>