<section id="user">
  <header class="section-header">User details</header>

  <label for="user_name">Name</label>
  <input id="user_name" name="user_name" type="text" <%= render "assignvalue", {:param => @formdata[:user_name]} %>>
  <%= render "errors", {"key" => "User name"} %>

  <label for="email">Email</label>
  <input id="email" name="user_email" type="email" <%= render "assignvalue", {:param => @formdata[:user_email]} %>>
  <%= render "errors", {"key" => "User email"} %>


  <fieldset>
    <div class="comments">
      <label for="comments">Additional comments</label>
      <label class="long info">Please specify if the request is for Publisher or for Inside Government.</label>
      <label class="long info">If it is for Inside Government, specify either 'Editor' or 'Writer'.</label>
      <textarea id="comments" rows="10" cols="50" name="additional"><%= @formdata[:additional] %></textarea>
    </div>
  </fieldset>

  <%= render "upload", {"id" => "file-input", "name" => "uploaded_data", "uploadmessage" => "If you have multiple users to be added, you can upload a file here"}%>

</section>
