<section id="user">
  <header class="section-header">User Details</header>
  <label for="user_name">Username</label>
  <input id="user_name" name="user_name" type="text" required aria-required="true" <%= erb :assignvalue, :locals => {:param => @formdata[:user_name]} %>>
  <%= erb :errors, :locals => {"key" => "User name"} %>

  <label for="email">Email</label>
  <input id="email" name="user_email" type="email" required aria-required="true" <%= erb :assignvalue, :locals => {:param => @formdata[:user_email]} %>>
  <%= erb :errors, :locals => {"key" => "User email"} %>

  <fieldset>
    <div class="comments">
      <label for="comments">Additional comments</label>
      <textarea id="comments" rows="10" cols="50" name="additional"><%= @formdata[:additional] %></textarea>
    </div>
  </fieldset>
</section>
