<div class="alert alert-info">
  <p>Content Publisher is in private beta and supports most of the features that are available on Whitehall.</p>
  <p>With this form you can tell us more about your experience with the new app so we can make it better. If you’re having issues publishing or editing a document raise a <a class="link-inherit" href="<%= new_technical_fault_report_path %>">support request</a> so you can get technical help.</p>
</div>
<div id="feedback-type">
  <%= f.input :feedback_type, as: :radio, required: true, label: "Your feedback is about", collection: f.object.feedback_type_options, input_html: { :"aria-required" => true } %>
  <%= f.input :feedback_details, as: :text, required: true,
              label: "Tell us a bit more",
              input_html: { class: "input-md-6", rows: 6, cols: 50, :"aria-required" => true } %>
  <%= f.input :impact_on_work, as: :text, required: false,
              label: "What's the impact on your work if we don't do anything about it?",
              hint: "This information will help us prioritise changes and future work",
              input_html: { class: "input-md-6", rows: 6, cols: 50, :"aria-required" => false } %>
</div>
<%= render partial: "support/collaborators", locals: { f: f } %>
