<%= content_for :page_title, "Create or change user" %>
<%= content_for :header, "Create or change a user account" %>

<div class="well">
  <%= semantic_form_for @request, url: { action: "create" }, html: { novalidate: false } do |f| %>

    <%= render partial: "request_details", locals: { f: f } %>

    <%= f.action :submit, label: "Submit", button_html: { class: "btn btn-success" } %>
  <% end %>
</div>