<tr class="anonymous-contact">
  <th scope="row" class="table-header-secondary no-wrap">
    <%= anonymous_contact.created_at.to_date.to_fs(:govuk_date_short) %>
  </th>
  <td class="text-break">
    <%= render partial: "/anonymous_feedback/feedback", locals: { anonymous_contact: anonymous_contact } %>
  </td>
  <td>
    <% if anonymous_contact.path %>
      <%= link_to anonymous_contact.path, anonymous_contact.url, class: "breakable" %>
    <% else %>
      &ndash;
    <% end %>
  </td>
  <td>
    <% if anonymous_contact.referrer and anonymous_contact.referrer != "unknown" %>
      <% search_term = extract_search_term(anonymous_contact.referrer) %>
      <%= link_to friendly_referrer(anonymous_contact.referrer), anonymous_contact.referrer, class: "breakable" %>
      <% if search_term %>
        <br /><span title="Search term">“<%= search_term %>”</span>
      <% end %>
    <% end %>
  </td>
</tr>
