<% if anonymous_contact.type == "problem-report" %>
  <% if anonymous_contact.what_doing.present? %>
    <div class="bold">
      <span class="rm">Action:</span>
      <%= anonymous_contact.what_doing.capitalize %>
    </div>
  <% end %>
  <% if anonymous_contact.what_wrong.present? %>
    <span class="rm">Problem:</span>
    <%= anonymous_contact.what_wrong.capitalize if anonymous_contact.what_wrong %>
  <% end %>
<% elsif anonymous_contact.type == "service-feedback" %>
  <strong>rating</strong>: <%= anonymous_contact.service_satisfaction_rating %>
  <% if anonymous_contact.details.present? %>
    <br/>
    <strong>comment</strong>: <%= anonymous_contact.details %>
  <% end %>
<% elsif anonymous_contact.type == "aggregated-service-feedback" %>
  <strong>Rating of <%= anonymous_contact.service_satisfaction_rating %>: </strong> <%= anonymous_contact.details %>
<% else %>
  <%= anonymous_contact.details %>
<% end %>
