<%= content_for :page_title, "Feedback for “#{params[:path]}”" %>
<%= content_for :header, params[:path] %>
<% breadcrumb :anonymous_feedback_by_path, params[:path] %>

<p class="feedback-response-count text-muted">
  <%= total_responses_header(@feedback.total_count, @from_date, @to_date) %>
</p>

<div class="row">
  <div class="col-md-8">
    <div class="panel <% if invalid_filter? %>panel-warning<% else %>panel-default<% end %>">
      <% if invalid_filter? %>
        <div class="panel-heading">
          <h3 class="panel-title">
            Sorry, these don’t look like dates. You can leave these fields blank.
          </h3>
        </div>
      <% end %>
      <form action="<% anonymous_feedback_index_path%>" class="form-inline date-filter-form panel-body">
        <input type="hidden" name="path" value="<%= params[:path]%>" />
        <fieldset>
          <legend class="rm">Filter feedback by date</legend>
          <label class="add-right-margin" for="start-date">
            Show feedback between <span class="rm">starting date</span>
          </label>
          <input type="text" name="from" id="start-date" class="input-sm form-control add-right-margin" data-module="calendar" data-max-date="0" value="<%= params[:from]%>"/>

          <label class="add-right-margin" for="end-date">and <span class="rm">end date</span></label>
          <input type="text" name="to" id="end-date" class="form-control input-sm" data-module="calendar" data-max-date="0" value="<%= params[:to]%>"/>

          <input type="submit" value="Filter" class="btn-sm btn btn-default add-left-margin" />
          <% if attempted_to_filter? %>
            <%= link_to anonymous_feedback_index_path(path:params[:path]), class: "inherit remove-filter pull-right" do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          <% end %>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<% if @feedback.empty? %>
  <div class="no-content no-content-bordered">
    <% if date_filtered? %>
      There’s no feedback for this URL in this date range.<br />
      <%= link_to 'Show all feedback for this URL', anonymous_feedback_index_path(path:params[:path]), class: 'link-inherit' %>
    <% else %>
      There’s no feedback for this URL.
    <% end %>
  </div>
<% else %>
  <%= render partial: "results", locals: { feedback: @feedback } %>
<% end %>

