<%= content_for :page_title, "Feedback for “#{@filtered_by}”" %>
<%= content_for :header, @filtered_by %>
<% breadcrumb :anonymous_feedback_by_filter, @filtered_by %>

<%= form_tag(anonymous_feedback_export_requests_path, class: "form-inline") do %>
  <p class="feedback-response-count text-muted">
    <%= total_responses_header(total_count: @feedback.total_count,
                               from: @dates.from,
                               to: @dates.to,
                               results_limited: @feedback.results_limited,
                               scopes: @filtered_by) %>
    <%= hidden_field_tag :from, @dates.from if @dates.from.present? %>
    <%= hidden_field_tag :to, @dates.to if @dates.to.present? %>
    <%= hidden_field_tag :paths, @filtered_by.paths if @filtered_by.paths.present? %>
    <%= hidden_field_tag :organisation, @filtered_by.organisation_slug if @filtered_by.organisation_slug.present? %>
    <%= submit_tag "Export as CSV", class: "btn-sm btn btn-default add-left-margin", data: { confirm: confirmation_message(@feedback.total_count, @feedback.results_limited) } %>
  </p>
<% end %>

<div class="row">
  <div class="col-lg-8 col-md-9">
    <div class="panel panel-default">
      <%= form_tag(anonymous_feedback_index_path, class: "date-filter-form panel-body", novalidate: true, method: :post) do %>
        <fieldset class="form-group" data-edit-feedback-explorer-form-target>
          <legend class="rm">Filter feedback by path</legend>
          <% if @filtered_by.paths.present? %>
            <%= link_to anonymous_feedback_index_path(organisation: @filtered_by.organisation_slug, from: @dates.from, to: @dates.to, document_type: @filtered_by.document_type), class: "inherit remove-filter pull-right" do %>
              <span class="glyphicon glyphicon-remove"><span class="rm">Remove path filter</span></span>
            <% end %>
          <% end %>
          <%= label_tag('paths', 'URL') %>
          <%= text_area_tag :paths, @filtered_by.paths, class: "form-control" %>
          <p class="help-block">For example a page like <code>/vat-rates</code> or <code>https://www.gov.uk/bank-holidays</code>, or a partial path like <code>/guidance/</code></p>
        </fieldset>
        <fieldset class="form-group" data-edit-feedback-explorer-form-target>
          <legend class="rm">Filter feedback by organisation</legend>
          <% if @filtered_by.organisation_slug.present? %>
            <%= link_to anonymous_feedback_index_path(paths: @filtered_by.paths, from: @dates.from, to: @dates.to, document_type: @filtered_by.document_type), class: "inherit remove-filter pull-right" do %>
              <span class="glyphicon glyphicon-remove"><span class="rm">Remove organisation filter</span></span>
            <% end %>
          <% end %>
          <%= label_tag('organisation', "Organisation") %>
          <%= select_tag :organisation, options_for_select(@organisations_list, @filtered_by.organisation_slug), include_blank: true, multiple: false, class: "form-control select2" %>
        </fieldset>
        <fieldset class="form-group" data-edit-feedback-explorer-form-target>
          <legend class="rm">Filter feedback by document type</legend>
          <% if @filtered_by.document_type.present? %>
            <%= link_to anonymous_feedback_index_path(paths: @filtered_by.paths, from: @dates.from, to: @dates.to, organisation: @filtered_by.organisation_slug), class: "inherit remove-filter pull-right" do %>
              <span class="glyphicon glyphicon-remove"><span class="rm">Remove document type filter</span></span>
            <% end %>
          <% end %>
          <%= label_tag('document_type', "Document Type") %>
          <%= select_tag :document_type, options_for_select(@document_type_list, @filtered_by.document_type), include_blank: true, multiple: false, class: "form-control select2" %>
        </fieldset>
        <fieldset class="form-group form-inline <%= 'has-warning' if @dates.invalid_filter? %>">
          <legend class="rm">Filter feedback by date</legend>
          <% if @dates.attempted_to_filter? %>
            <%= link_to anonymous_feedback_index_path(paths: @filtered_by.paths, organisation: @filtered_by.organisation_slug), class: "inherit remove-filter pull-right" do %>
              <span class="glyphicon glyphicon-remove"><span class="rm">Remove date filter</span></span>
            <% end %>
          <% end %>
          <%= label_tag("start-date", class: "add-right-margin") do %>
            Show feedback between <span class="rm">starting date</span>
          <% end %>
          <%= text_field_tag "from", @dates.from, id: "start-date", class: "input-sm form-control add-right-margin", data: { module: "calendar", max_date: "0"} %>

          <%= label_tag("end-date", class: "add-right-margin") do %>and <span class="rm">end date</span><% end %>
          <%= text_field_tag "to", @dates.to, id: "end-date", class: "form-control input-sm", data: { module: "calendar", max_date: "0" } %>
          <% if @dates.invalid_filter? %>
            <p class="help-block">Sorry, these don’t look like dates. You can leave these fields blank.</p>
          <% end %>
        </fieldset>
        <%= submit_tag "Filter", class: "btn-sm btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>

<% if @feedback.empty? %>
  <div class="no-content no-content-bordered">
    <% if @dates.filtered? %>
      There’s no feedback for the URL(s) requested in this date range.<br />
      <%= link_to 'Show all feedback for this URL', anonymous_feedback_index_path(paths:params[:paths]), class: 'link-inherit' %>
    <% else %>
      There’s no feedback for the URL(s) requested.
    <% end %>
  </div>
<% else %>
  <% if @feedback.results_limited && @feedback.current_page == @feedback.total_pages %>
    <div class="callout callout-info">
      <div class="callout-title">
        More responses are available.
      </div>
      <div class="callout-body">
        You can change the date range to see more results, or export the whole range as a CSV.
      </div>
    </div>
  <% end %>
  <%= render partial: "results", locals: { feedback: @feedback } %>
<% end %>
