<div class="alert alert-info">
  <p><%= f.object.class.description %></p>
</div>

<div id="user_details" %>
  <fieldset>
    <legend>
      <span>User details</span>
    </legend>

    <div class="form-group">
      <span class="form-label">
        <%= f.label :user_name, class: "control-label" do %>
          Name<abbr title="required">*</abbr>
        <% end %>
      </span>
      <span class="form-wrapper">
        <%= f.text_field :user_name, required: true, aria: { required: true }, class: "input-md-6 form-control" %>
      </span>
    </div>

    <div class="form-group">
      <span class="form-label">
        <%= f.label :user_email do %>
          Email<abbr title="required">*</abbr>
        <% end %>
      </span>
      <span class="form-wrapper">
        <%= f.email_field :user_email, required: true, aria: { required: true }, class: "input-md-6 form-control" %>
      </span>
    </div>

    <%= f.fields_for :time_constraint do |r| %>
      <div class="form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="not-before-date-hint">
          <span class="form-label">
            <%= r.label :not_before_date do %>
              MUST NOT be removed BEFORE
            <% end %>
          </span>

          <div id="not-before-date-hint" class="govuk-hint">
            For example, 27 3 2007
          </div>

          <div class="govuk-date-input" id="not-before-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <%= r.label :not_before_day, "Day", class: "govuk-label govuk-date-input__label" %>
                <%= r.text_field :not_before_day, required: false, value: r.object.not_before_day, class: "govuk-input govuk-date-input__input govuk-input--width-2", id: "not-before-day", inputmode: "numeric" %>
              </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <%= r.label :not_before_month, "Month", class: "govuk-label govuk-date-input__label" %>
              <%= r.text_field :not_before_month, required: false, value: r.object.not_before_month, class: "govuk-input govuk-date-input__input govuk-input--width-2", id: "not-before-month", inputmode: "numeric" %>
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <%= r.label :not_before_year, "Year", class: "govuk-label govuk-date-input__label" %>
              <%= r.text_field :not_before_year, required: false, value: r.object.not_before_year, class: "govuk-input govuk-date-input__input govuk-input--width-4", id: "not-before-year", inputmode: "numeric" %>
            </div>
          </div>
        </fieldset>
      </div>
    <% end %>

    <div class="form-group">
      <span class="form-label">
        <%= f.label :reason_for_removal, "Reason for removal" %>
      </span>
      <span class="form-wrapper">
        <%= f.text_area :reason_for_removal, class: "input-md-6 form-control", rows: 6, cols: 50 %>
      </span>
    </div>
  </fieldset>
</div>

<%= render partial: "support/collaborators", locals: { f: f } %>
