<div class="alert alert-info">
  <p><%= f.object.class.description %></p>
</div>

<div id="user_details" %>
  <fieldset>
    <legend>
      <span>User details</span>
    </legend>

    <div class="form-group">
      <span class="form-label">
        <%= f.label :user_name, class: "control-label" do %>
          Name<abbr title="required">*</abbr>
        <% end %>
      </span>
      <span class="form-wrapper">
        <%= f.text_field :user_name, required: true, aria: { required: true }, class: "input-md-6 form-control" %>
      </span>
    </div>

    <div class="form-group">
      <span class="form-label">
        <%= f.label :user_email do %>
          Email<abbr title="required">*</abbr>
        <% end %>
      </span>
      <span class="form-wrapper">
        <%= f.email_field :user_email, required: true, aria: { required: true }, class: "input-md-6 form-control" %>
      </span>
    </div>

    <%= f.fields_for :time_constraint do |r| %>
      <div class="form-group">
        <span class="form-label">
          <%= r.label :not_before_date, "MUST NOT be removed BEFORE" %>
        </span>
        <span class="form-wrapper">
          <%= r.text_field :not_before_date, required: false, placeholder: "dd-mm-yyyy", value: r.object.not_before_date, class: "input-md-2 form-control", data: { module: "calendar", format: "dd-mm-yy", min_date: 0 } %>
        </span>
      </div>
    <% end %>

    <div class="form-group">
      <span class="form-label">
        <%= f.label :reason_for_removal, "Reason for removal" %>
      </span>
      <span class="form-wrapper">
        <%= f.text_area :reason_for_removal, class: "input-md-6 form-control", rows: 6, cols: 50 %>
      </span>
    </div>
  </fieldset>
</div>

<%= render partial: "support/collaborators", locals: { f: f } %>
