<p class="govuk-body"><%= f.object.class.description %></p>

<%= render "govuk_publishing_components/components/input", {
  label: { text: "User's name (required)" },
  name: name_for(f, %w[user_name]),
  width: 20,
  error_items: errors_for(@request.errors, :user_name)
} %>

<%= render "govuk_publishing_components/components/input", {
  label: { text: "User's email (required)" },
  name: name_for(f, %w[user_email]),
  width: 20,
  error_items: errors_for(@request.errors, :user_email)
} %>

<%= render "govuk_publishing_components/components/date_input", {
  legend_text: "MUST NOT be removed BEFORE",
  hint: "For example, 27 3 2007",
  items: [
    {
      label: "Day",
      name: name_for(f, %w[time_constraint_attributes not_before_day]),
      id: "not-before-day",
      width: 2
    },
    {
      label: "Month",
      name: name_for(f, %w[time_constraint_attributes not_before_month]),
      id: "not-before-month",
      width: 2
    },
    {
      label: "Year",
      name: name_for(f, %w[time_constraint_attributes not_before_year]),
      id: "not-before-year",
      width: 4
    }
  ],
  error_items: errors_for(@request.errors, :not_before_date)
} %>

<%= render "govuk_publishing_components/components/textarea", {
  label: {
    text: "Reason for removal"
  },
  name: name_for(f, %w[reason_for_removal]),
  error_items: errors_for(@request.errors, :reason_for_removal)
} %>

<%= render partial: "support/collaborators", locals: { f: f } %>
