<p class="govuk-body"><%= f.object.class.description %></p>

<%= render "govuk_publishing_components/components/input", {
  label: { text: "Title of request" },
  hint: "For example, \"Advice on content\"",
  name: name_for(f, %w[title]),
  error_items: errors_for(@request.errors, :title)
} %>

<h2 class="govuk-heading-l">Details of your request</h2>

<%= render "govuk_publishing_components/components/textarea", {
  label: {
    text: "Please explain what you would like help with (required)"
  },
  name: name_for(f, %w[details]),
  error_items: errors_for(@request.errors, :details)
} %>

<%= render "govuk_publishing_components/components/inset_text", {
  text: "If you have relevant supporting documents, please send them as attachments in reply to the acknowledgement email you will receive shortly."
} %>

<%= render "govuk_publishing_components/components/textarea", {
  label: {
    text: "Relevant URLs (if applicable)"
  },
  name: name_for(f, %w[urls]),
  error_items: errors_for(@request.errors, :urls)
} %>

<%= render "govuk_publishing_components/components/input", {
  label: { text: "Contact telephone number" },
  hint: "In case we need to call you to discuss the content",
  name: name_for(f, %w[contact_number]),
  width: 20,
  error_items: errors_for(@request.errors, :contact_number)
} %>

<h2 class="govuk-heading-l">Time constraints</h2>

<%= render "govuk_publishing_components/components/date_input", {
  legend_text: "Is there a date you need to have a response by?",
  hint: "For example, 27 3 2007",
  items: [
    {
      label: "Day",
      name: name_for(f, %w[time_constraint_attributes needed_by_day]),
      id: "needed-by-day",
      width: 2
    },
    {
      label: "Month",
      name: name_for(f, %w[time_constraint_attributes needed_by_month]),
      id: "needed-by-month",
      width: 2
    },
    {
      label: "Year",
      name: name_for(f, %w[time_constraint_attributes needed_by_year]),
      id: "needed-by-year",
      width: 4
    }
  ],
  error_items: errors_for(@request.errors, :time_constraint_attributes)
} %>

<%= render "govuk_publishing_components/components/input", {
  label: { text: "Reason for deadline" },
  name: name_for(f, %w[time_constraint_attributes time_constraint_reason]),
  error_items: errors_for(@request.errors, :time_constraint_reason)
} %>

<h2 class="govuk-heading-l">Copy of the request</h2>

<%= render partial: "support/collaborators", locals: { f: f } %>
