<div class="alert alert-info">
  <p><%= f.object.class.description %></p>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :title, "Title of request" %>
  </span>
  <span class="form-wrapper">
    <%= f.text_field :title, placeholder: "Advice on content", class: "input-md-6 form-control" %>
  </span>
</div>

<fieldset>
  <legend>
    <span>Details of your request</span>
  </legend>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :details do %>
        Please explain what you would like help with<abbr title="required">*</abbr>
      <% end %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :details, required: true, aria: { required: true }, class: "input-md-6 form-control", rows: 6, cols: 50 %>
    </span>
  </div>

  <div class="alert alert-info alert-block">
    <p>If you have relevant supporting documents, please send them as attachments in reply to the acknowledgement email you will receive shortly.</p>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :urls, "Relevant URLs (if applicable)" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :urls, class: "input-md-6 form-control", rows: 6, cols: 50 %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :contact_number, "Contact telephone number (in case we need to call you to discuss the content)" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_field :contact_number, class: "input-md-6 form-control" %>
    </span>
  </div>
</fieldset>

<%= f.fields_for :time_constraint do |r| %>
  <fieldset class="govuk-fieldset" role="group">
    <div class="form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="needed-by-date-hint">
        <legend>
          <span>Time constraints</span>
        </legend>
        <span class="form-label">
          <%= r.label :needed_by_date do %>
            Is there a date you need to have a response by?
          <% end %>
        </span>

        <div id="start-date-hint" class="govuk-hint">
          For example, 27 3 2007
        </div>

        <div class="govuk-date-input" id="needed-by-date">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <%= r.label :needed_by_day, "Day", class: "govuk-label govuk-date-input__label" %>
              <%= r.text_field :needed_by_day, required: false, value: r.object.needed_by_day, class: "govuk-input govuk-date-input__input govuk-input--width-2", id: "needed-by-day" %>
            </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <%= r.label :needed_by_month, "Month", class: "govuk-label govuk-date-input__label" %>
            <%= r.text_field :needed_by_month, required: false, value: r.object.needed_by_month, class: "govuk-input govuk-date-input__input govuk-input--width-2", id: "needed-by-month" %>
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <%= r.label :needed_by_year, "Year", class: "govuk-label govuk-date-input__label" %>
            <%= r.text_field :needed_by_year, required: false, value: r.object.needed_by_year, class: "govuk-input govuk-date-input__input govuk-input--width-4", id: "needed-by-year" %>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="form-group">
      <span class="form-label">
        <%= r.label :time_constraint_reason, "Reason for deadline" %>
      </span>
      <span class="form-wrapper">
        <%= r.text_field :time_constraint_reason, class: "input-md-6 form-control" %>
      </span>
    </div>
  </fieldset>
<% end %>

<%= render partial: "support/collaborators", locals: { f: f } %>
