<%= content_for :page_title, "New feature/need" %>
<%= content_for :header, "Request a new feature/need" %>

<div class="well">
  <%= semantic_form_for @request, :url => { :action => "create" }, :html => { :novalidate => false } do |f| %>

    <%= render :partial => "support/requester", :locals => {:f => f} %>

    <%= render :partial => "support/inside_government_new", :locals => {:f => f} %>

    <%= render :partial => "request_details", :locals => {:f => f} %>

    <%= render :partial => "support/time_constraint", :locals => {:f => f} %>    

    <%= f.action :submit, :label => "Submit", :button_html => {:class => "btn btn-success"} %>
  <% end %>
</div>
