<div class="alert alert-info">
  <p><%= f.object.class.description %></p>
</div>

<div id="action">
  <div class="form-group">
    <span class="form-label control-label">
      <%= f.label :action do %>
        What would you like to do?<abbr title="required">*</abbr>
      <% end %>
    </span>
    <span class="form-wrapper">
      <%= f.collection_radio_buttons :action, f.object.action_options, :last, :last, required: true, aria: { required: true } do |builder| %>
        <div class="radio">
          <%= builder.label(class: "custom-control-label") do %>
            <%= builder.radio_button(class: "custom-control-input") %>
            <%= builder.object.first %>
          <% end %>
        </div>
      <% end %>
    </span>
  </div>
</div>

<div class="alert alert-info">
  <p><%= f.object.class.suspension %></p>
</div>

<div id="user_details">
  <%= render partial: 'requested_user_details', locals: { f: f } %>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :additional_comments, "Additional comments" %>
  </span>
  <span class="form-wrapper">
    <%= f.text_area :additional_comments, class: "input-md-6 form-control", rows: 6, cols: 50 %>
  </span>
</div>

<%= render partial: "support/collaborators", locals: { f: f } %>
