<%= content_for :page_title, "Campaign" %>
<%= content_for :header, "Request GDS support for a campaign" %>

<div class="well">
  <%= form_tag('/campaign', :method => :post) do %>
    <%= render "author" %>

    <section id="campaign">
      <header class="section-header">Campaign</header>
      <label for="name">Campaign title (required)</label>
      <input id="name" name="campaign_name" type="text" class="span6" required <%= render "assignvalue", {:param => @formdata[:name]} %>>

      <div>
        <label class="long" for="erg_number">ERG reference number (required)</label>
        <input id="erg_number" name="erg_number" type="text" class="span6" required aria-required="true" <%= render "assignvalue", {:param => @formdata[:erg_number]} %>>
        <%= render "errors", {errors: @errors, key: "Erg number"} %>
      </div>

      <%= render "date", {:title => "Start Date", :label => 'start', :day => @formdata[:start_day], :month => @formdata[:start_month], :year => @formdata[:start_year]} %>
      <%= render "errors", {errors: @errors, key: "Start date"} %>

      <div class="comments">
        <label for="description">Campaign description (required)</label>
        <textarea id="description" rows="6" cols="50" class="span6" name="description" type="text" required aria-required="true" ><%= @formdata[:description] %></textarea>
        <%= render "errors", {errors: @errors, key: "Description"} %>
      </div>

      <div>
        <label class="long" for="company">Group or company affiliated with this campaign</label>
        <input id="company" name="company" class="span6" type="text" <%= render "assignvalue", {:param => @formdata[:company]} %>>
      </div>

      <div style="clear:both;"></div>

      <div>
        <label class="long" for="target_url">URL with more information</label>
        <input id="target_url" name="url" type="text" class="span6" <%= render "assignvalue", {:param => @formdata[:url]} %>>
      </div>

      <fieldset>
        <div class="comments">
          <label for="comments">Additional comments</label>
          <textarea id="comments" rows="6" cols="50" class="span6" name="additional"><%= @formdata[:additional] %></textarea>
        </div>
      </fieldset>

    </section>
    <input class="btn btn-success" name="commit" type="submit" value="Submit">
  <% end %>
</div>
