<div id="technical-fault-context">
  <%= f.semantic_fields_for :fault_context do |r| %>
    <%= r.input :name, as: :radio, required: true, label: "What isn't working properly?", collection: f.object.fault_context_options, input_html: { :"aria-required" => true } %>
  <% end %>
</div>

<%= f.input :fault_specifics, as: :text, required: true,
            label: "How much is it affecting? (the whole thing, a specific feature or specific URLs)",
            input_html: { :"aria-required" => true, :class => "form-md-6", :rows => 6, :cols => 50 } %>

<%= f.input :actions_leading_to_problem, as: :text, required: true, label: "What were you trying to do?", input_html: { :"aria-required" => true, :class => "form-md-6", :rows => 6, :cols => 50 } %>

<%= f.input :what_happened, as: :text, required: true, label: "What happened?", input_html: { :"aria-required" => true, :class => "form-md-6", :rows => 6, :cols => 50 } %>

<%= f.input :what_should_have_happened, as: :text, required: true, label: "What should have happened?", input_html: { :"aria-required" => true, :class => "form-md-6", :rows => 6, :cols => 50 } %>

<div class="alert alert-info alert-block">
  <p>If you have screenshots please send them as attachments in reply to the acknowledgement email you will receive shortly.</p>
</div>
