<%= f.fields_for :time_constraint do |r| %>
  <fieldset>
    <legend>
      <span>Are there any time constraints? (Optional)</span>
    </legend>

    <div class="form-group">
      <span class="form-label">
        <%= r.label :needed_by_date, "MUST be published by" %>
      </span>
      <span class="form-wrapper">
        <%= r.text_field :needed_by_date, required: false, placeholder: "dd-mm-yyyy", value: r.object.needed_by_date, class: "input-md-2 form-control", data: { module: "calendar", format: "dd-mm-yy", min_date: 0 } %>
      </span>
    </div>

    <div class="form-group">
      <span class="form-label">
        <%= r.label :not_before_date, "MUST NOT be published BEFORE" %>
      </span>
      <span class="form-wrapper">
        <%= r.text_field :not_before_date, required: false, placeholder: "dd-mm-yyyy", value: r.object.not_before_date, class: "input-md-2 form-control", data: { module: "calendar", format: "dd-mm-yy", min_date: 0 } %>
      </span>
    </div>

    <div class="form-group">
      <span class="form-label">
        <%= r.label :time_constraint_reason, "Reason for the above dates" %>
      </span>
      <span class="form-wrapper">
        <%= r.text_area :time_constraint_reason, required: false, class: "input-md-6 form-control", rows: 6, cols: 50 %>
      </span>
    </div>
  </fieldset>
<% end %>
