<%= content_for :page_title, "Emergency contact details" %>
<%= content_for :header, "GOV.UK emergency contact details" %>

<% breadcrumb :emergency_contact_details %>

<main class="add-bottom-padding">
<p class="subtitle text-muted">Last updated: <%= @current_at.to_s(:govuk_date) %></p>
<section>
  <blockquote class="bg-danger danger-callout">
    <p>First read the guidance on <%= link_to "publishing procedures for national emergencies", "https://www.gov.uk/guidance/contact-the-government-digital-service/gov-uk-support-requests-processes-and-response-times" %> and <%= link_to "GOV.UK contact procedures", "https://www.gov.uk/guidance/contact-the-government-digital-service/how-to-contact-gds" %>.</p>
  </blockquote>
</section>
<section class="add-bottom-padding add-top-padding">
  <h2 class="add-bottom-padding">Primary contacts</h2>

  <h4>GOV.UK content support: primary contacts</h4>
  <div class="row">
    <div class="col-md-6">
      <p>Use this number if you’re unable to publish at a critical time, or to make changes to government content managed by GDS. This number will put you in touch with a GOV.UK content designer. You must:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li><%= link_to "submit a support request", new_content_change_request_path %> before you phone</li>
        <li><%= link_to "read the full guidelines", "https://www.gov.uk/government/publications/govuk-support-requests-our-processes-and-response-times" %></li>
      </ul>
    </div>
  </div>
  <div class="row add-bottom-padding add-top-padding">
    <div class="col-md-12">
      <p class="remove-bottom-margin"><strong><%= @primary_contact_details[:urgent_department_content_change][:phone] %></strong></p>
      <p class="text-muted">Monday to Friday, 9am - 6pm<br>(excluding bank holidays and weekends)</p>
    </div>
  </div>

  <h4>Emergency changes to centrally managed content published on GOV.UK</h4>
  <div class="row">
    <div class="col-md-6">
	<p>The GOV.UK content team’s standard hours are 9am to 6pm Monday to Friday. Outside these hours, emergency cover is provided.</p>
      <p><strong>This should only be used if the public or government is facing immediate and significant financial, legal or physical risk, to request emergency GOV.UK content updates.</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>This number will put you in touch with a GOV.UK content lead. You must:</p>
      <ul>
        <li><%= link_to "submit a support request", new_content_change_request_path %> before you phone</li>
        <li><%= link_to "read the full guidelines", "https://www.gov.uk/government/publications/govuk-support-requests-our-processes-and-response-times" %></li>
      </ul>
    </div>
  </div>
  <div class="row add-bottom-padding add-top-padding">
    <div class="col-md-12">
      <p class="remove-bottom-margin"><strong><%= @primary_contact_details[:urgent_mainstream_content_change][:phone] %></strong></p>
      <p class="text-muted">Monday to Sunday, 6pm to 9am</p>
    </div>
  </div>

  <h4>Major technical problems with GOV.UK site</h4>
  <div class="row">
    <div class="col-md-6">
      <p>Use for critical, high-profile technical issues with the GOV.UK site - eg pages not loading or search not working.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>This number will put you in contact with the GOV.UK operations manager, who will advise on next steps.</p>
    </div>
  </div>
  <div class="row add-bottom-padding add-top-padding">
    <div class="col-md-12">
      <p class="remove-bottom-margin"><strong><%= @primary_contact_details[:major_technical_problems][:phone] %></strong></p>
      <p class="text-muted">24 hours, 7 days a week</p>
    </div>
  </div>

  <h4>National emergencies</h4>
  <div class="row">
    <div class="col-md-6">
      <p>Use for sudden, critical national emergencies such as terrorist attacks.<br>For use only by the communications coordinator in the lead crisis response department.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>This number will put you in contact with the GOV.UK operations manager, who will establish your identity and put the GOV.UK site into ‘emergency’ mode.</p>
      <ul>
        <li><%= link_to "Further information and guidance", "https://www.gov.uk/guidance/contact-the-government-digital-service/gov-uk-support-requests-processes-and-response-times" %></li>
      </ul>
    </div>
  </div>
  <div class="row add-bottom-padding add-top-padding">
    <div class="col-md-12">
      <p class="remove-bottom-margin"><strong><%= @primary_contact_details[:national_emergencies][:phone] %></strong></p>
      <p class="text-muted">24 hours, 7 days a week</p>
    </div>
  </div>

</section>

<section class="add-bottom-padding add-top-padding">
  <h2>Secondary contacts</h2>
  <blockquote class="rounded-callout">
    <p>If you are unable to get an answer on the primary numbers, try an alternative number.</p>
  </blockquote>
  <div class="row">
    <% @secondary_contact_details.each do |details| %>
      <div class="col-md-6 add-bottom-padding">
        <p>
          <%= details[:name] %><br>
          <span class="text-muted"><%= details[:role] %></span>
        </p>
        <%= mail_to details[:email] %>
        <p><strong><%= details[:phone] %></strong></p>
      </div>
    <% end %>
  </div>
</section>
</main>
