<%= content_for :page_title, "Emergency contact details" %>
<%= content_for :header, "GOV.UK emergency contact details" %>

<% breadcrumb :emergency_contact_details %>

<main class="add-bottom-padding">
<section>
  <blockquote class="bg-danger danger-callout">
    <p>First read the guidance on <%= link_to "publishing procedures for national emergencies", "https://www.gov.uk/guidance/contact-the-government-digital-service/gov-uk-support-requests-processes-and-response-times" %> and <%= link_to "GOV.UK contact procedures", "https://www.gov.uk/guidance/contact-the-government-digital-service/how-to-contact-gds" %>.</p>
  </blockquote>
</section>
<section class="add-bottom-padding add-top-padding">

  <h3>GOV.UK content support: office hours</h3>
  <div class="row">
    <div class="col-md-6">
      <p>Use this number if you’re unable to publish at a critical time, or to make changes to government content managed by GDS.</p>
    </div>
  </div>
  <div class="row add-bottom-padding add-top-padding">
    <div class="col-md-12">
      <p class="remove-bottom-margin"><strong><%= @primary_contact_details[:urgent_department_content_change][:phone] %></strong></p>
      <p class="text-muted">Monday to Friday, 9am to 6pm<br>(excluding bank holidays)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>This number will put you in touch with a GOV.UK content designer. You must:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li><%= link_to "submit a support request", new_content_change_request_path %> before you phone</li>
        <li><%= link_to "read the full guidelines", "https://www.gov.uk/government/publications/govuk-support-requests-our-processes-and-response-times" %></li>
        <li>leave a message and a contact number if the phone isn't answered</li>
      </ul>
    </div>
  </div>


  <h3>Emergency GOV.UK content support: out of hours</h3>
  <div class="row">
    <div class="col-md-6">
      <p>Use this only if the public or government is facing immediate and significant financial, legal or physical risk, to request emergency GOV.UK content updates.</p>
    </div>
  </div>
  <div class="row add-bottom-padding add-top-padding">
    <div class="col-md-12">
      <p class="remove-bottom-margin"><strong><%= @primary_contact_details[:urgent_mainstream_content_change][:phone] %></strong></p>
      <p class="text-muted">Monday to Friday, 6pm to 9am</p>
      <p class="text-muted">Weekends and bank holidays, 24 hours</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Call this number to get in touch with a senior member of the content team, please don't text. You must:</p>
      <ul>
        <li><%= link_to "submit a support request", new_content_change_request_path %> before you phone</li>
        <li><%= link_to "read the full guidelines", "https://www.gov.uk/government/publications/govuk-support-requests-our-processes-and-response-times" %></li>
        <li>leave a message and a contact number if the phone isn't answered</li>
      </ul>
    </div>
  </div>


  <h3>Major technical problems with GOV.UK site</h3>
  <div class="row">
    <div class="col-md-6">
      <p>Use for critical, high-profile technical issues with the GOV.UK site - such as pages not loading or search not working.</p>
    </div>
  </div>
  <div class="row add-bottom-padding add-top-padding">
    <div class="col-md-12">
      <p class="remove-bottom-margin"><strong><%= @primary_contact_details[:major_technical_problems][:phone] %></strong></p>
      <p class="text-muted">24 hours, 7 days a week</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>This number will put you in contact with a member of the GOV.UK escalations team, who will advise on next steps.</p>
    </div>
  </div>


  <h3>National emergencies</h3>
  <div class="row">
    <div class="col-md-6">
      <p>Use for sudden, critical national emergencies such as terrorist attacks.<br>For use only by the communications coordinator in the lead crisis response department.</p>
    </div>
  </div>
  <div class="row add-bottom-padding add-top-padding">
    <div class="col-md-12">
      <p class="remove-bottom-margin"><strong><%= @primary_contact_details[:national_emergencies][:phone] %></strong></p>
      <p class="text-muted">24 hours, 7 days a week</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>This number will put you in contact with GOV.UK, who will establish your identity and put the GOV.UK site into ‘emergency’ mode.</p>
      <ul>
        <li><%= link_to "National emergency publishing process", "https://www.gov.uk/guidance/contact-the-government-digital-service/national-emergency-publishing-guidelines" %></li>
      </ul>
    </div>
  </div>


</section>

<% if @secondary_contact_details %>
    <section class="add-bottom-padding add-top-padding">
    <h3>Backup contact</h3>
    <div class="row">
        <div class="col-md-6">
        <p>If you can’t get through on the other numbers, you can call the Head of GOV.UK.</p>
        </div>
    </div>
    <div class="row">
        <% @secondary_contact_details.each do |details| %>
        <div class="col-md-6 add-bottom-padding">
            <p>
            <%= details[:name] %><br>
            <span class="text-muted"><%= details[:role] %></span>
            </p>
            <%= mail_to details[:email] %>
            <p><strong><%= details[:phone] %></strong></p>
        </div>
        <% end %>
    </div>
    </section>
<% end %>

<section class="add-bottom-padding add-top-padding">
  <h2>GOV.UK Verify contacts</h2>
  <h3>Non-urgent support and feedback</h3>
  <div class="row">
    <div class="col-md-6">
      <p>IDA Support</p>
      <p><%= mail_to @verify_contact_details[:ida_support_email] %></p>
    </div>
  </div>
  <h3>Emergency support</h3>
  <div class="row">
    <div class="col-md-6">
      <p><a href="https://verifystatus.digital.cabinet-office.gov.uk/">Check the GOV.UK Verify status page</a> to see if the issue has already been reported.</p>
      <p>Out of hours GOV.UK Verify support</p>
      <p><%= mail_to @verify_contact_details[:out_of_hours_email] %></p>
    </div>
  </div>
</section>

</main>
