<%= content_for :page_title, "Home" %>
<%= content_for :header, "Welcome to GOV.UK Support" %>

<p class="lead">
  Choose one of the following sections to submit a request to the GOV.UK team.
</p>

<div id="accessible-sections" class="list-group">
  <% @accessible_sections.each do |section| %>
    <%= link_to section.link, class: "list-group-item" do %>
      <h4 class="list-group-item-heading"><%= section.label %></h4>
      <p class="list-group-item-text"><%= section.description %></p>
    <% end %>
  <% end %>
</div>

<% unless @inaccessible_sections.empty? %>
  <p class="lead">
    You don't have access to the following sections - your departmental single point of contact can request the access on your behalf.
  </p>

  <div id="inaccessible-sections" class="list-group disabled">
    <% @inaccessible_sections.each do |section| %>
      <div class="list-group-item">
        <h4 class="list-group-item-heading"><%= section.label %></h4>
        <p class="list-group-item-text"><%= section.description %></p>
      </div>
    <% end %>
  </div>
<% end %>
