<%= content_for :page_title, "Home" %>
<%= content_for :header, "Welcome to GOV.UK Support" %>

<p class="lead">
  Choose one of the following sections to submit a request to the GOV.UK team.
</p>

<div id="section-links" class="list-group">
  <% @sections.each do |section| %>
    <%= link_to section.link, class: "list-group-item" do %>
      <h4 class="list-group-item-heading"><%= section.label %></h4>
      <p class="list-group-item-text"><%= section.description %></p>
    <% end %>
  <% end %>
</div>
