<div class="alert alert-info">
  <p>
    Use this form to request a change to the tool for helping people find out how to get ready for new rules in 2021.
    https://www.gov.uk/transition-check
  </p>
  <p>
    The checker tells users actions they may need to take.
    You can request a change to an existing action or suggest where a new action is needed.
  </p>
  <p>
    Once a request is made, GDS will agree any changes directly with the nominated policy expert and Cabinet Office.
  </p>
</div>

<div id="change_action">
  <h2>Change an action</h2>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :action_to_change, "Action title" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_field :action_to_change, class: "input-md-6 form-control" %>
      <span class="help-block">
        What content are you referring to? It helps to paste the action title from the checker and a link to the results where it appears.
      </span>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :description_of_change, "Describe the change" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :description_of_change, class: "input-md-6 form-control", rows: 6, cols: 50 %>
      <span class="help-block">
        Explain the user need and who the users are, what the problem is for the user, and suggest how we could improve.
      </span>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :change_link_to, "Change link to" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_field :change_link_to, class: "input-md-6 form-control" %>
      <span class="help-block">
        If the link to the relevant service or guidance has changed, provide the new link.
      </span>
    </span>
  </div>
</div>

<div id="new_action_title">
  <h2>Add a new action</h2>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :new_action_users, "Who needs to know?" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_field :new_action_users, class: "input-md-6 form-control" %>
      <span class="help-block">
        Specify who, where they are, and what they’re doing. For example, an Irish citizen who lives in the UK taking a pet to the EU.
      </span>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :new_action_title, "What is the action?" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_field :new_action_title, class: "input-md-6 form-control" %>
      <span class="help-block">
        What does the user need to do to prepare for 2021?
      </span>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :new_action_consequence, "Consequence" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_field :new_action_consequence, class: "input-md-6 form-control" %>
      <span class="help-block">
        What is the problem for the user if they don’t act?
      </span>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :new_action_service_link, "Service link" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_field :new_action_service_link, class: "input-md-6 form-control" %>
      <span class="help-block">
        Provide a link to any application process or service, if there is one.
      </span>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :new_action_guidance_link, "Who needs to know?" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_field :new_action_guidance_link, class: "input-md-6 form-control" %>
      <span class="help-block">
        Provide a link to the page that explains things in detail. It does not have to be on GOV.UK.
      </span>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :new_action_lead_time, "Who needs to know?" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_field :new_action_lead_time, class: "input-md-6 form-control" %>
      <span class="help-block">
        How long does the process take, if applicable?
      </span>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :new_action_deadline, "Deadline" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_field :new_action_deadline, class: "input-md-6 form-control" %>
      <span class="help-block">
        Does the user need to act before a certain date?
      </span>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :new_action_comments, "Other comments" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :new_action_comments, class: "input-md-6 form-control", rows: 6, cols: 50 %>
      <span class="help-block">
        Explain any concerns or complications.
      </span>
    </span>
  </div>

  <div class="form-group select">
    <span class="form-label">
      <%= f.label :new_action_priority, "Priority" %>
    </span>
    <span class="form-wrapper">
      <%= f.select :new_action_priority, options_for_select(%w[High Medium Low]), { include_blank: true }, class: "input-md-6 form-control" %>
      <span class="help-block">
        How high up the list of results this action should appear.
      </span>
    </span>
  </div>
</div>

<%= render partial: "support/collaborators", locals: { f: f } %>
