<%= content_for :page_title, @page_title %>
<%= content_for :header, "Request a change to existing GOVUK content" %>

<div class="alert alert-info alert-block">
  <p>If requesting an urgent content amend request, please follow up your submission of the form with a phone call to 07827 992603.</p>
  <p>An urgent content amend request should only be made if the public or the government is facing immediate and significant financial, legal or physical risk.</p>
</div>

<div class="well">
<%= form_tag('/amend-content', :method => :post) do %>

  <%= render "author" %>

    <fieldset>
      <legend>URL(s) of content to be changed</legend>

      <div class="input-prepend">
        <span class="add-on">www.gov.uk/</span>
          <input class="span6" id="target_url1" name="url1" type="text" <%= render "assignvalue", {:param => @formdata[:url1]} %> >
        </span>
      </div>
      <div class="input-prepend">
        <span class="add-on">www.gov.uk/</span>
          <input class="span6" id="target_url2" name="url2" type="text" <%= render "assignvalue", {:param => @formdata[:url2]} %> >
        </span>
      </div>
      <div class="input-prepend">
        <span class="add-on">www.gov.uk/</span>
          <input class="span6" id="target_url3" name="url3" type="text" <%= render "assignvalue", {:param => @formdata[:url3]} %> >
        </span>
      </div>
      <div class="comments">
        <label class="long" for="add_content">Details of what should be added, amended, or removed:</label>
        <textarea class="span6" id="add_content" name="add_content" rows="6" cols="70"><%= @formdata[:add_content] %></textarea>
        </div>

    </fieldset>

    <%= render "date", {:title => "When should this change be published?", :label => 'need_by', :day => @formdata[:need_by_day], :month => @formdata[:need_by_month], :year => @formdata[:need_by_year]} %>
    <%= render "errors", {errors: @errors, key: "Need by"} %>

    <%= render "date", {:title => "Not to be amended before (optional)", :label => 'not_before', :day => @formdata[:not_before_day], :month => @formdata[:not_before_month], :year => @formdata[:not_before_year]} %>
    <%= render "errors", {errors: @errors, key: "Not before"} %>

    <fieldset>
      <div class="comments">
        <label for="comments">Additional comments:</label>
        <textarea class="span6" id="comments" rows="6" cols="70" name="additional"><%= @formdata[:additional] %></textarea>
      </div>
    </fieldset>

  <input class="btn btn-success" name="commit" type="submit" value="Submit">
<% end %>
</div>
