<div class="alert alert-info">
  <p><%= f.object.class.description %></p>
</div>

<%= f.semantic_fields_for :campaign do |r| %>
  <%= r.inputs :name => "Campaign details" do %>
    <%= r.input :title, label: "Campaign title", required: true, input_html: {:class => "input-md-6", :"aria-required" => true} %>

    <%= r.input :other_dept_or_agency, label: "Other department(s) or agencies running the campaign (if any)", input_html: {:class => "input-md-6"} %>
    <%= r.input :signed_campaign, label: "Head of Digital who signed off the campaign", required: true, input_html: {:class => "input-md-6"} %>

    <%= r.input :start_date, label: "Start date", required: true, input_html: { class: "input-md-2", :"data-module" => 'calendar', :"data-format" => 'dd-mm-yy', :"data-min-date" => 0, :placeholder => "dd-mm-yyyy", :value => r.object.start_date} %>
    <%= r.input :end_date, label: "Campaign end date / review date (within 6 months of launch)", required: true, input_html: { class: "input-md-2", :"data-module" => 'calendar', :"data-format" => 'dd-mm-yy', :"data-min-date" => 0, :placeholder => "dd-mm-yyyy", :value => r.object.end_date} %>

    <%= r.input :description, as: :text, label: "Campaign description", required: true, input_html: {:class => "input-md-6", :rows => 6, :cols => 50, :"aria-required" => true } %>

    <%= r.input :call_to_action, as: :text, label: "Call to action", required: true, input_html: {:class => "input-md-6", :rows => 6, :cols => 50, :"aria-required" => true } %>
    <%= r.input :success_measure, as: :text, label: "How will you measure success?", required: true, input_html: {:class => "input-md-6", :rows => 6, :cols => 50, :"aria-required" => true } %>

    <%= r.input :proposed_url, label: "Proposed URL (in the form of xxxxx.campaign.gov.uk)", required: true, input_html: { class: "input-md-6", :"aria-describedby" => "urlHelpBlock", :"aria-required" => true } %>

    <%= r.input :site_metadescription, as: :text, label: "Site metadescription (appears in search results)", required: true, input_html: {:class => "input-md-6", :rows => 6, :cols => 50, :"aria-required" => true, :"aria-describedby" => "seoHelpBlock" } %>

    <%= r.input :cost_of_campaign, as: :number, label: "Cost of campaign", required: true, input_html: { class: "input-md-6" } %>

    <% end %>
<% end %>

<%= f.input :additional_comments, as: :text, label: "Additional comments", input_html: { class: "input-md-6", rows: 6, cols: 50 } %>

