<% content_for(:app_title) { "GOV.UK Support" } %>

<% #content_for concatenates successive calls %>
<% content_for :page_title do %> | GOV.UK Support<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
<% end %>

<% content_for :favicon do %>
  <% environment_style = GovukAdminTemplate.environment_style %>
  <%= favicon_link_tag environment_style ?
        "favicon-#{environment_style}.png" : "favicon.png" %>
<% end %>

<% content_for :navbar_right do %>
  <%= link_to current_user.name, Plek.find('signon') %> &bull; <%= link_to 'Sign out', gds_sign_out_path %>
<% end %>

<% content_for :navbar_items do %>
  <%= render partial: 'support/new_request_links', locals: { section_groups: all_section_groups } %>
  <li>
    <%= link_to "GOV.UK Zendesk", "https://govuk.zendesk.com/" %>
  </li>
<% end %>

<% content_for :content do %>
  <%= breadcrumbs style: :bootstrap %>

  <div class="page-title">
    <h1>
      <% if content_for :sub_header %>
        <span class="small"><%= yield :sub_header %></span>
      <% end %>
      <%= yield :header %>
    </h1>
  </div>

  <%= yield %>
<% end %>

<% content_for(:footer_version) { CURRENT_RELEASE_SHA } %>

<%= render template: 'layouts/govuk_admin_template' %>
