<% content_for :page_title, ' | GOV.UK Support' %>
<% content_for :head do %>
  <% if ENV["GOOGLE_TAG_MANAGER_ID"] %>
    <%= render "govuk_publishing_components/components/google_tag_manager_script", {
      gtm_id: ENV["GOOGLE_TAG_MANAGER_ID"],
      gtm_auth: ENV["GOOGLE_TAG_MANAGER_AUTH"],
      gtm_preview: ENV["GOOGLE_TAG_MANAGER_PREVIEW"]
    } %>
  <% end %>
  <%= csrf_meta_tag %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "legacy/application", :media => "all" %>
  <%= javascript_include_tag "legacy/application" %>
<% end %>

<% content_for :favicon do %>
  <% environment_style = GovukAdminTemplate.environment_style %>
  <%= favicon_link_tag environment_style ?
        "legacy/favicon-#{environment_style}.png" : "legacy/favicon.png" %>
<% end %>

<% content_for :navbar_items do %>
  <%= render partial: 'support/new_request_links', locals: { section_groups: all_section_groups } %>
  <li>
    <%= link_to "GOV.UK Zendesk", "https://govuk.zendesk.com/" %>
  </li>
<% end %>

<% content_for :content do %>
  <%= breadcrumbs style: :bootstrap %>

  <% [:success, :info, :warning, :danger, :notice, :alert].select { |k| flash[k].present? }.each do |k| %>
    <%
      case k
      when :notice
        alert_class = "success"
      when :alert
        alert_class = "danger"
      else
        alert_class = k
      end
    %>
    <div class="alert alert-<%= alert_class %>"
      data-module="auto-track-event"
      data-track-action="alert-<%= alert_class %>"
      data-track-label="<%= strip_tags(flash[k]) %>">
      <ul>
        <% flash[k].split("\\n").each do |message| %>
          <li><%= message %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="page-title">
    <h1>
      <% if content_for :sub_header %>
        <span class="small"><%= yield :sub_header %></span>
      <% end %>
      <%= yield :header %>
    </h1>
  </div>
  <%= yield %>
<% end %>

<% content_for :footer_version, ENV.fetch("SENTRY_RELEASE", "null")[0..18] %>

<%= render template: 'layouts/govuk_admin_template' %>
