<% content_for :page_title, ' | GOV.UK Support' %>
<% content_for :head do %>
  <%= csrf_meta_tag %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<% end %>

<% content_for :favicon do %>
  <% environment_style = GovukAdminTemplate.environment_style %>
  <%= favicon_link_tag environment_style ?
        "favicon-#{environment_style}.png" : "favicon.png" %>
<% end %>

<% content_for :navbar_items do %>
  <%= render partial: 'support/new_request_links', locals: { section_groups: all_section_groups } %>
  <li>
    <%= link_to "GOV.UK Zendesk", "https://govuk.zendesk.com/" %>
  </li>
<% end %>

<% content_for :content do %>
  <%= breadcrumbs style: :bootstrap %>

  <% [:success, :info, :warning, :danger, :notice, :alert].select { |k| flash[k].present? }.each do |k| %>
    <%
      case k
      when :notice
        alert_class = "success"
      when :alert
        alert_class = "danger"
      else
        alert_class = k
      end
    %>
    <div class="alert alert-<%= alert_class %>"
      data-module="auto-track-event"
      data-track-action="alert-<%= alert_class %>"
      data-track-label="<%= strip_tags(flash[k]) %>">
        <%= flash[k] %>
    </div>
  <% end %>

  <div class="page-title">
    <h1>
      <% if content_for :sub_header %>
        <span class="small"><%= yield :sub_header %></span>
      <% end %>
      <%= yield :header %>
    </h1>
  </div>
  <%= yield %>
<% end %>

<% content_for(:footer_version) { CURRENT_RELEASE_SHA } %>

<%= render template: 'layouts/govuk_admin_template' %>
