<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %> | GOV.UK Support</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application.css' %>
  <%= yield :extra_headers %>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5" %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
</head>
<body>
  <header class="navbar navbar-default navbar-inverse navbar-static-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <%# Bootstrap toggle for collapsed navbar content, used at smaller widths %>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to 'GOV.UK Support', root_path, :class => 'navbar-brand' %>
      </div>

      <nav role="navigation" class="collapse navbar-collapse">
        <p id="logged-in-user" class="navbar-text pull-right">
          Hello, <%= link_to current_user.name, Plek.current.find('signon') %> &bull; <%= link_to 'Sign out', gds_sign_out_path %>
        </p>
      </nav>
    </div>
  </header>

  <section class="container" role="main">
    <div class="row">
      <div class="col-md-12">

        <div class="page-header">
          <h1><%= yield :header %></h1>
        </div>

        <div class="row">
          <div class="col-md-3">
            <%= render partial: 'support/new_request_links', locals: { request_groups: request_groups } %>
          </div>

          <div class="col-md-9">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <footer>
      <p>&copy; GDS. <span class="pull-right">Support release: <%= CURRENT_RELEASE_SHA %></span> </p>
    </footer>
  </section>

  <%= yield :extra_javascript %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38052350-1']);
    _gaq.push(['_setDomainName', 'production.alphagov.co.uk']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
