<% content_for(:app_title) { "GOV.UK Support" } %>

<% #content_for concatenates successive calls %>
<% content_for :page_title do %> | GOV.UK Support<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag 'favicon.ico' %>

  <% # Google Analytics tracking, minified via http://mathiasbynens.be/notes/async-analytics-snippet %>
  <% if Rails.env.production? %>
    <script>var _gaq=[['_setAccount','UA-38052350-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
  <% end %>
<% end %>

<% content_for :navbar_right do %>
  Hello, <%= link_to current_user.name, Plek.current.find('signon') %> &bull; <%= link_to 'Sign out', gds_sign_out_path %>
<% end %>

<% content_for :navbar_items do %>
  <%= render partial: 'support/new_request_links', locals: { section_groups: all_section_groups } %>
<% end %>

<% content_for :content do %>
  <h1 class="page-header"><%= yield :header %></h1>

  <%= yield %>
<% end %>

<% content_for(:footer_version) { CURRENT_RELEASE_SHA } %>

<%= render template: 'layouts/govuk_admin_template' %>
