<% content_for :head do %>
  <%= tag.meta name: "govuk:components_gem_version", content: GovukPublishingComponents::VERSION %>
  <%= javascript_include_tag "govuk_publishing_components/load-analytics" %>
<% end %>

<%= render 'govuk_publishing_components/components/layout_for_admin',
  product_name: "Support",
  environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
  browser_title: yield(:page_title) do %>

  <%= render "govuk_publishing_components/components/skip_link" %>

  <%= render "govuk_publishing_components/components/layout_header", {
    product_name: "Support",
    environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
    navigation_items: navigation_items,
  }%>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <% if flash[:success_alert] %>
            <%= render "govuk_publishing_components/components/success_alert",
              flash[:success_alert].symbolize_keys
            %>
          <% end %>
          <h1 class="govuk-heading-xl">
            <%= yield(:header) %>
          </h1>
          <%= yield %>
        </div>
      </div>
    </main>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer" %>
<% end %>
