<p class="alert alert-info">
  Content Data is in private beta. With this form you can tell us
  about your experience using the new data tool, so we can make it
  better.
</p>
<div id="feedback-type">
  <div class="form-group">
    <span class="form-label control-label">
      <%= f.label :feedback_type do %>
        Your feedback is about<abbr title="required">*</abbr>
      <% end %>
    </span>
    <span class="form-wrapper">
      <%= f.collection_radio_buttons :feedback_type, f.object.feedback_type_options, :last, :last, required: true, aria: { required: true } do |builder| %>
        <div class="radio">
          <%= builder.label class: "custom-control-label" do %>
            <%= builder.radio_button(class: "custom-control-input") %>
            <%= builder.object.first %>
          <% end %>
        </div>
      <% end %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :feedback_details do %>
        Tell us a bit more<abbr title="required">*</abbr>
      <% end %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :feedback_details, required: true, aria: { required: true }, class: "input-md-6 form-control", rows: 6, cols: 50 %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :impact_on_work do %>
        What's the impact on your work if we don't do anything about it?<abbr title="required">*</abbr>
      <% end %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :impact_on_work, required: true, aria: { required: true }, class: "input-md-6 form-control", rows: 6, cols: 50 %>
      <span class="help-block">
        This information will help us prioritise changes and future work
      </span>
    </span>
  </div>
</div>

<p class="alert alert-info">
  To add screenshots to this feedback, reply to the acknowledgement
  email you receive and attach them.
</p>

<%= render partial: "support/collaborators", locals: { f: f } %>
